{% extends "base.html" %}
{% block extra_head_content %}
	<link href="{{tp.link_prefix}}css/style-article.css" rel="stylesheet" media="screen, handheld, print, projection"/>
{% endblock%}
{% block header_subtitle %}<div class="header-name"><a href="{{tp.issue_link}}">Volume {{tp.volume_number}}, Issue {{tp.issue_number}}</a></div>{% endblock %}
{% block page_menu %}
		<span class="headermenu-link"><a href="{{tp.issue_link}}">Table of Contents</a></span><span class="headermenu-link"><a href="{{tp.contribute_link}}">Contribute An Article</a></span>
{% endblock %}
{% block floating_nav %}
{# Only when HTML is the desired final output should the floating navigation appear. #}
{% if tp.issue_nav %}
    <div class="floating-box">
    <table class="floating-box-table floating-box-br">
      <tr>
        <td class="page-back floating-box-button {{tp.issue_nav.prev_issue_class}}">{{tp.issue_nav.prev_issue_html}}</td>
        <td class="page-back floating-box-button {{tp.issue_nav.prev_article_class}}">{{tp.issue_nav.prev_article_html}}</td>
        <td class="page-forward floating-box-button {{tp.issue_nav.next_article_class}}">{{tp.issue_nav.next_article_html}}</td>
        <td class="page-forward floating-box-button {{tp.issue_nav.next_issue_class}}">{{tp.issue_nav.next_issue_html}}</td>
      </tr>
    </table>
    </div>
{% endif %}
{% endblock %}
