{% extends "issue/base.html" %}
{% block page_menu %}
		<span class="headermenu-link"><a href="{{tp.homepage_link}}">Main Site</a></span><span class="headermenu-link"><a href="{{tp.contribute_link}}">Contribute An Article</a></span>
{% endblock %}
{% block page_content %}
{% if tp.target_is_website %}
	<div class="mainsection">
		<div class="mainbody">
			<img alt="{{tp.logo_text}}" src="{{tp.link_prefix}}{{tp.logo_link}}" style="float: left; display: inline-block; padding-right: 15px"/>
			<p>Imaginary Realities is a journal focusing on text-based gaming, from <a href="http://en.wikipedia.org/wiki/MUD">mudding</a> and <a href="http://en.wikipedia.org/wiki/Roguelike">roguelikes</a>, to <a href="http://en.wikipedia.org/wiki/Interactive_fiction">interactive fiction</a> and beyond.</p>
			<p>
			Our goal is to publish issues every couple of months, where we collect together relevant articles written by people from the community, for the enjoyment and education of other people in the community.
			</p>
			<p>
			If you are interested in <a href="{{tp.contribute_link}}">contributing an article</a>, please <a href="{{tp.contact_link}}">get in touch</a>!
			</p>
		</div>
	</div>
{% endif %}
	<div class="mainsection issue-toc">
		<div class="mainheader"><a name="article-title">{% block page_title %}{{tp.page_title}}{% endblock %}</a></div>
		<div class="mainbody">
{% if tp.target_is_website %}
			<div class="table-base-wrapper indent-left">
				<table class="table-base table-toc">
					<thead>
					<tr>
						<td>Article</td><td>Author(s)</td>
					</tr>
					</thead>
					<tbody>
{% for article in tp.issue.articles %}
					<tr>
						<td><a class="row-link" href="{{article.link}}">{{article.title}}</a></td>
						<td><a class="row-link" href="{{article.link}}">{{article.author_names}}</a></td>
					</tr>
{% endfor %}
					</tbody>
				</table>
			</div>
			<br/>
			<div class="text-read-issue">
				<a class="action-button" href="{{tp.issue.read_link}}">{{tp.issue.read_text}}</a>
			</div>
{% else %}
			<ol>
{% for article in tp.issue.articles %}
				<li><a class="row-link" href="{{article.link}}">{{article.title}}</a></li>
{% endfor %}
			</ol>
{% endif %}
		</div>
	</div>
{% endblock %}
