{% extends "issue/article/index.html" %}
{% block page_title %}
	The Successful Quest Builder
{% endblock %}
{% block article_authors %}John <span class="author-nick">TheDude</span> Robinette and Joanna <span class="author-nick">Lorana</span> Liberty{% endblock %}
{% block article_date %}26th January 2014{% endblock %}
{% block article_content %}
  <p class="c0"><span class="c1">Throughout the MUD community, there are innumerable quests and features that take the
  games from a collection of rooms to a world with a purpose. From the simplest quests,</span> <span class=
  "c2">like</span><span class="c1">&#160;traveling through the world to a specific NPC, to more complex
  activities,</span> <span class="c2">such as</span><span class="c1">&#160;a trading chain, all started with the desire
  to make it happen. Although the creative process of each quest builder may differ, the root of successful quests must
  grow from inspiration. The motivation and means to take that inspiration and work it into something real is what
  separates the &#8220;idea guys&#8221; from the builders. The success of the quest builder depends on his or her
  ability to</span> <span class="c2">use</span> <span class="c1">the tools available to transform an idea into a
  working quest.</span></p>

  <h3>Conception of a quest</h3>

  <p class="c0"><span class="c1">There are as many different ways to brainstorm quest ideas as there are quest
  builders. Some may take inspiration from their real life, their favorite video game, or even a book or movie recently
  perused. Once the seed of an idea has begun to sprout, the successful builder will start to design the basic idea of
  the quest to determine what tools</span> <span class="c2">are</span><span class="c1">&#160;needed to build and
  implement the quest. Motivation and the desire to see the project through to the end is often what differentiates the
  successful quest builder at this stage</span> <span class="c2 c8">&#8212;</span><span class="c1">&#160;everyone has
  an idea, but it is the special few that are willing to put in the effort to bring an idea to life.</span></p>

  <p class="c0"><span class="c1">Ideas alone are not enough to create a successful and inspired quest. The availability
  of tools for the quest builder to use to bring his or her ideas to life is also crucial to the success of the quest.
  A builder may begin the initial design of a quest with the intent to use a certain feature or function of the MUD.
  However, if that tool is not available, the development of it will often fall to the coder. A successful quest
  builder may take this opportunity to either propose a feature or function to the coder or game owner, or return to
  the initial planning stage to rework the design of the MUD.</span></p>

  <p class="c0"><span class="c1">The quest builder must also have knowledge of the tools available</span> <span class=
  "c2">i</span><span class="c1">n the game. If the builder plans his or her quest around a specific feature or function
  that is not already present in the game&#8217;s code, a certain flexibility of mind may be required to continue on
  the path to a successful quest. The builder must determine what is needed, how the function will be used, and what
  impact the function will have on the ability to program quests. A good function will be re</span><span class=
  "c2">usable</span><span class="c1">&#160;in other quests and areas. Once the builder has the concept prepared,</span>
  <span class="c2">the function</span><span class="c1">&#160;can b</span><span class="c2">e</span> <span class=
  "c1">proposed to those in charge, potentially extending the flexibility of the MUD.</span></p>

  <p class="c0"><span class="c1">There are also times when a builder will be forced to reevaluate an idea to use only
  the means currently available without the addition of a new function to the game code. This can even mean abandoning
  certain elements of the design idea, depending on the complexity of the quest as designed. If a concept would involve
  extensive coding, it may be better to try another method. Although it can cause a loss of motivation, it can also
  inspire a builder to brainstorm different ideas that may be an improvement over the initial design. Building is not
  an activity that can be done flawlessly overnight. Setbacks can happen, and a good builder will be prepared to deal
  with them.</span></p>

  <h3>Building the quest</h3>

  <p class="c0"><span class="c1">Once the builder understands the av</span><span class="c2">ailable</span> <span class=
  "c1">tools, and has verified that the initial design is possible within the restrictions of the MUD, it is time to
  start writing. The successful quest builder will begin with the design notes created during the idea portion of the
  building process and begin to flesh out the text that will be used in the quest, as well as any additional programs
  or scripts that may be needed. The implementation process can vary b</span><span class="c2">etween</span><span class=
  "c1">&#160;games, as some MUDs feature quest builders, programs, scripts, a combination of all of these, or a
  completely different process. Regardless of the implementation process of the quest, it is always best to start
  writing the storyline, programs, and scripts for it offline, so that it can be edited and reworked before adding the
  quest to the live game.</span></p>

  <p class="c0"><span class="c1">At this stage, the successful quest builder will have a good concept of what is needed
  to implement his or her quest, including the wording to use to bring the idea to life for players. Even if the entire
  script or program is not written offline, having the concept in mind helps as the builder begins the next stage of
  the process &#8211; implementation. Due to the vast differences in games across the MUD community, it&#8217;s
  impossible to describe exactly how to implement a successful quest, but no matter the method, it is always important
  for the builder not</span> <span class="c2">to</span> <span class="c1">disappear after the quest has been added to
  the game.</span></p>

  <p class="c0"><span class="c1">Regardless of how often a quest has been checked or reviewed, it is still possible for
  builders to find bugs or typos as a quest is introduced to a game. Any errors need to be fixed as quickly as possible
  after they are found, in order to keep players and other designers happy. When a new quest is added to a game, the
  successful quest builder will be on</span><span class="c2">line</span><span class="c1">&#160;</span><span class=
  "c2">frequently</span><span class="c1">, just in case there is an issue. It can also be helpful to share offline
  files with another quest builder on the game, just in case a problem arises when the original builder is offline.
  Maintaining</span> <span class="c2">quest</span> <span class="c1">files offline can also be helpful at this stage for
  quick referencing without interrupting another editing process.</span></p>

  <h3>Feedback on the quest</h3>

  <p class="c0"><span class="c1">After the quest has been conceived, planned, designed, written, implemented, and
  checked for bugs or typos, the successful builder still has additional work. Obtaining the feedback of players who
  have completed the quest helps the builder to reflect on the design, determine if any tweaks are needed, and even
  gain inspiration for</span> <span class="c2">another</span> <span class="c1">quest. When designing a quest, it is not
  unusual for the builder to become hyper-focused on</span> <span class="c2">the</span><span class="c1">&#160;idea or
  inspiration</span> <span class="c2">that drove its creation</span><span class="c1">, and observations from players
  who have completed the quest can help the builder verify that</span><span class="c2">&#160;the</span> <span class=
  "c1">quest</span> <span class="c2">has been brought t</span><span class="c1">o life as initially
  conceived.</span></p>

  <p class="c0"><span class="c1">Quest builders will often find that the original idea of a quest has changed
  dramatically from the first spark of inspiration to final completion of the quest. Often the changes that have
  occurred during the building process are an improvement on the original concept or design, whether due to the builder
  replanning the quest</span> <span class="c2">because of</span><span class="c1">&#160;code
  limitations</span><span class="c2">,</span><span class="c1">&#160;or tweaking after player reviews. Completing a
  quest design can be very rewarding</span> <span class="c2">for</span><span class="c1">&#160;a builder, although there
  are also times when players simply do not like the quest as designed. The successful quest builder will either
  redesign the quest or scrap it to begin anew with a fresh idea.</span></p>

  <p class="c0"><span class="c1">The truly successful quest builder takes a simple idea and turns it into an immersive
  part of a game, something which cannot be achieved by many people. Through careful planning, dedication to building,
  knowledge of the tools available, ingenuity, and thoroughness, a builder can successfully transition an idea through
  the stages of the building process to end with a completed quest enjoyable by players. Without any one of these
  steps,</span> <span class="c2">the</span><span class="c1">&#160;quest can still be completed, but it is the builder
  who completes each part that will be truly successful.</span></p>

  <p class="c0"><span class="c1">I&#39;d tell you good luck in your future quest-writing endeavors, but I think the
  people I&#39;m trying to reach with this article know it takes something more than luck to be a successful builder.
  So, instead, I&#39;ll just wish you much inspiration, a good coder to back you up, and happy players when you&#39;ve
  finished your quest.</span></p>
{% endblock %}
{% block article_bio_content %}
	On <a class="gametitle" href="http://www.eotmud.com/">End of Time</a>, TheDude (John Robinette) is an administrator, builder, and professional slacker, while Lorana (Joanna Liberty) is a quest immortal, builder, and socializer of fine repute.</p>
{% endblock %}
