{% extends "issue/other/index.html" %}
{% block page_title %}Introduction{% endblock %}
{% block other_content %}
  <p>
    Welcome to the first issue of <span class="publicationtitle">Imaginary Realities</span> in twelve years.
  </p>
  <p>
   <span class="publicationtitle">Imaginary Realities</span> is now fifteen years old. Created and published by David Bennett from September 1998 to December 2001, thirty-seven issues were published within four volumes. Three people in addition to myself worked to create this new issue, Jennifer Melchert, Matthew Sheahan and Richard Woolcock.
  </p>
  <p>
    It might be argued that the late ‘90s were the heyday of sharing information about mudding. Although mudding is a popular hobby today, there are now few places where this sharing still happens. The MUD-Dev mailing list survives, no longer active, but archived in a poorly reconstructed form. The USENET newsgroups are almost lost to us, with Google letting us search them, but without the ability to wander through and look for topics of interest which we hadn’t known the keywords for. The old <span class="publicationtitle">Imaginary Realities</span> website is perhaps the best surviving resource, thanks to Fred Clift who had an old archived copy stored away.
  </p>
  <p>
    Mudding and MUD development are evolving. Telnet is still around, and still a contender, but one of many. While it was possible to play a MUD through a website back in the ‘90s, it wasn’t pretty. Nowadays we have web sockets, and while there are still situations where Flash is required to be involved, it isn’t often. MUDs can be played on mobile devices, and there are ways that the experience needs to be tailored to suit those smaller screens. Clients like mushclient have changed to allow the developers of a MUD to provide graphic enhancements to the core text-based gameplay. And that’s just the MUD development side of it. This is just the tip of the iceberg; many other topics should be explored and shared so that others can benefit from them.
  </p>
  <p>
    For this issue of <span class="publicationtitle">Imaginary Realities</span>, twenty articles were offered, and eight of these ended up actually being submitted. The twenty is a good indication that there’s enough support to publish more issues in future, and the eight is around the number of articles that David published back in the day, in any given issue. These numbers together are promising enough to continue publishing more issues, and we’re excited to keep bringing information and opinions to our gaming community.
  </p>
  <p>
    We only asked for articles about text-based mudding, but the original intention was that, if it was worthwhile to publish further issues, we would widen the scope to cover text-based gaming in general. For future issues, we are seeking articles on the subjects of (text-based) mudding, interactive fiction, roguelikes, browser games, or gamebooks. If you would like to submit an article, please let us know!  <span class="publicationtitle">Imaginary Realities</span> is for the community and we need your input.
  </p>
  <p>
    Thanks for reading!
  </p>
  <p class="authorbio">Richard Tew</p>
{% endblock %}
