{% extends "issue/other/index.html" %}
{% block page_title %}Staff{% endblock %}
{% block other_content %}
	<div class="mainsection inline-blocks">
		<div class="aligned-examples">
			<div class="aligned-example text">
			  <div class="mainheader stafftitle">Managing Editor</div>
			  <div class="mainbody">
			    <img src="images/image03.png" width="112"/>
				<div class="staffname">Richard Tew</div>
				<div class="staffbio">
					Richard Tew has worked on one
					<a href="https://code.google.com/p/sorrows-mudlib/">Stackless Python mudlib</a>
					and two
					<a href="http://www.disinterest.org/projects.html">LP mudlibs</a>, as well as a telnet-based
					<a href="https://code.google.com/p/sorrows-mudlib/source/browse/#svn%2Ftrunk%2Fgames%2Froguelike">multiplayer roguelike</a>.
				</div>
			  </div>
			</div>
			<div class="aligned-example text">
			  <div class="mainheader stafftitle">Editor</div>
			  <div class="mainbody">
				<img src="images/image00.png" width="120"/>
				<div class="staffname">Matthew Sheahan (Chaos)</div>
				<div class="staffbio">
					Chaos has been lead developer of
					<a class="gametitle" href="http://lostsouls.org/">Lost Souls</a>
					since 1998. He curates
					<a class="website" href="http://mudseek.com/">MUDseek</a>
					and has published an
					<a href="https://github.com/chaosprime/lpc-astar">LPC implementation of A* search</a>
					as open source. In real life, he is a Web software architect.
				</div>
			  </div>
			</div>
			<div class="aligned-example text">
			  <div class="mainheader stafftitle">Associate Editor</div>
			  <div class="mainbody">
				<img src="images/image01.png" width="100"/>
				<div class="staffname">Richard Woolcock (KaVir)</div>
				<div class="staffbio">
					KaVir is the owner of
					<a class="gametitle" href="http://www.godwars2.org">God Wars II</a>
					and developer of the GodWars and Gladiator Pits codebases. He has also written several MUD-related snippets and articles, and is an auditor for
					<a class="website" href="http://www.mudconnect.com">The Mud Connector</a>.
				</div>
			  </div>
			</div>
			<div class="aligned-example text">
			  <div class="mainheader stafftitle">Copyeditor</div>
			  <div class="mainbody">
				<img src="images/image02.jpg" width="100"/>
				<div class="staffname">Jennifer Melchert (jenphalian)</div>
				<div class="staffbio">
					jenphalian is a literary assistant for a New York Times bestselling author and one-time first reader for a Hugo-nominated literary magazine.
				</div>
			  </div>
			</div>
		</div>
	</div>
{% endblock %}
