{% extends "issue/article/index.html" %}
{% block page_title %}
	The Dungeon Keeper
{% endblock %}
{% block article_authors %}Robert <span class="author-nick">Hugo</span> Winter{% endblock %}
{% block article_date %}15th May 2014{% endblock %}
{% block article_content %}
  <p>
    Dungeons. The dungeon crawl. The quest for loot. While the term may mean different things now, ultimately the presentation of the MMORPG &ldquo;dungeon&rdquo; is still very much rooted in its origins. Form a group of five, grab a tank, healer, a couple of damage dealers and wind through
    the corridors, hitting your vending machines for item upgrades.
  </p>
  <p>
    It&rsquo;s fun. It really is. But can we do better? It&rsquo;s hard to argue that a MUD offers far more depth and complexity in its game mechanics than its graphical counterparts, and while MUDs will never live up to any game that uses a graphical client, we still get the upper hand when it comes to telling a good yarn. We must remember, though, that with great power comes great responsibility.
  </p>
  <p>
    So what is the dungeon for a MUD? The dungeon in a MUD environment is perhaps born of the same stock: <span class="italicd">a text game + a dungeon crawl = success</span>. But is that what we have given language? A simple dungeon crawl? I want <span class="c7">Epitaph</span>&nbsp;to have it better.
  </p>
  <p>
    So how do we change the mold? On <span class="c7">Epitaph</span>&nbsp;I have been working on dungeons, at this stage mostly designing and prototyping them, so that we can offer something new and old. We have opted to call our dungeons by the term narratives.
  </p>
  <p>
    And so what is a narrative? The online dictionary defines &ldquo;narrative&rdquo; as &ldquo; a story or account of events, experiences, or the like, whether true or fictitious&rdquo;.
  </p>
  <p>
    What I propose to do on Epitaph is to split the MMORPG-style dungeon into two parts. First is a dungeon-crawl-esque area where you are tasked with completing various objectives in a randomized zone. The other part, the more cinematic or more narrative approach, is what I am working on and what this article is about.
  </p>
  <p>
    I will use &ldquo;narrative&rdquo; and &ldquo;dungeon&rdquo; interchangeably to refer to the same thing: the <span class="softwaretitle">Epitaph</span>&nbsp;dungeon.
  </p>

  <h3>Less is&hellip; more?</h3>
  <p>
    We can&rsquo;t simply throw text in the player&rsquo;s face and expect him to read it. It&rsquo;s amusing to think that as a text game we actually should be using as little text as possible. A lot of the time it&rsquo;s the white space, or the things we don&rsquo;t say, that has the most impact. Any sort of story that a MUD&rsquo;s dungeon involves should be presented to the player through the environment, not through blocks of text (finding novels, newspaper articles, NPC chatter, room descriptions, and anything else that you would normally find out in the open world). Just because it&rsquo;s a dungeon doesn&rsquo;t mean we need a ten-minute intro. People are more likely to give up playing a game that has poor gameplay but a great story than the other way around. Gameplay first.
  </p>

  <h3>Old is new; simplicity is intricacy</h3>
  <p>
    An example of one of the narratives I&rsquo;m working on takes place in an old abandoned power station in Scotland. One of our factions, a multi-billion dollar corporation, owns this power station and had been secretly researching alternative power sources. The gameplay involves gaining access to the station (going through guarded checkpoints) and completing puzzles. I think the narrative structure fits around a sandbox play-style, so instead of building a dungeon that is linear with corridors with a clear beginning and end, a narrative is more like an open-world video game where you can achieve multiple puzzles by multiple means. In the case of the power station, you have to get past a security door by either 1) having someone in your group hack the terminal, or&nbsp;2) making a keycard with the materials in the security office. Many alternatives can also be created.
  </p>
  <p>
    The puzzles should be group oriented, or at least either be scaleable or have alternative pathways that favour groups of 2 to 3 people. The puzzles should support the use of existing game mechanics and only shift to unique syntaxes if other options are not viable. There will always be times when the dungeon or puzzle will require a mechanic that doesn&rsquo;t exist in other areas of the game, but we should be mindful to not make something that could be linked with an existing concept first.
  </p>
  <p>
    Not all narratives need to have overly complex puzzles, or even any puzzle at all, but the idea is to get player groups working together, and not just for combat. Some narratives, by their nature, will be made easier if you have certain people in your group who have certain commands. Groups that have a character who has an array of covert abilities (lockpicking, stuns, sneaking) may find that they have the upper hand in environments such as the power station, but even so it should not render the group obsolete in absence of such a figure.
  </p>
  <p>
    And what about throwaway enemies, mooks, cannon fodder? Where would we be without those iconic punching bags? Oh, yes, they still have their place, and so do adventurers who wield big sticks (or double-barrelled shotguns).
  </p>
  <p>
    I would like to see the idea of tank-DPS-healer be expanded upon. It&rsquo;s the holy trio of dungeons, which is a nice concept and easy to work with, but as it is I find it to be limiting. I wouldn&rsquo;t like to make the Big Three obsolete, and in the end they&rsquo;re always going to have the upper hand, but what I would like to see in <span class="softwaretitle">Epitaph</span>&nbsp;dungeons are groups of two or more of any class (not that we have &ldquo;classes&rdquo; on <span class="softwaretitle">Epitaph</span>;&nbsp;instead we have skill trees and related commands, so effectively you can still make a &ldquo;tank&rdquo; or a &ldquo;healer&rdquo; character) and actually be viable. In my mind I see dungeons fitted-out with environmental items (possibly skill-checked) that can help with healing, or items that can help kill NPCs (railguns, explosives, exploding butane tanks), but these items would be few and far between. The spawning of such items would be decided by the difficulty of the narrative, which would be chosen before entering. The NPCs of the dungeons have a set number of skill levels, but these skill levels are modified (higher or lower) depending on how many are in your group (for a group of two, the NPCs will be far weaker than if you were in a group of five). Regarding difficulty levels, I like to think back to the first <span class="softwaretitle">Doom</span> (PC) where the higher difficulty levels spawned fewer health packs and less ammo, while the lower difficulties spawned the opposite. The loot tables of the bosses would also reflect the difficulty level of the dungeon.
  </p>

  <h3>Choice is progress</h3>
  <p>
    Inspired by <a class="softwaretitle" href="http://www.swtor.com">Star Wars: The Old Republic</a> &rsquo;s dungeons, dubbed &ldquo;flashpoints&rdquo;, where you are offered multiple paths based on group choices, I wrote a multi-choice event handler that allows our dungeons to simulate storied events akin to that MMORPG, either randomly or when desired. When you enter a room, or perform a certain action, your group may be offered a list of choices, such as 1) save a hostage, 2) take the hostage for yourself, or 3) leave the hostage.
  </p>
  <p>
    Each member of the group chooses their option, and the handler rolls a die, and then whoever gets the higher number gets that event. So while the narrative itself is open-world, or sandbox, these story events can shut off parts, open up others, bring in new bosses or take them away.
  </p>
  <p>
    I would like to point out that a dungeon with a linear structure from beginning to end is still viable; all that I propose is that gaining access to each room may require a puzzle, or something that may require the group to halt, think, or discover.
  </p>
  <div class="imgcenter">
    <img class="center" src="images/image00.png" width="572"/>
  </div>
  <p>
   <span class="italicd">Note: This is from a very early alpha version of both the multi-choice handler and the depicted narrative. It is presented purely as an example of how the system may look and does not represent the final build.</span>
  </p>
  <p>
    To present the choices is as simple as adding in the functions in whatever file triggers the event. Example:
  </p>
   <pre class="python-code"><code class="python-code">voting-&gt;add_event_choice(&quot;save schulzer&quot;);
voting-&gt;add_event_choice(&quot;save bullets&quot;);
voting-&gt;add_event_choice(&quot;do nothing&quot;);
   </code></pre>
  <p>
    The handler will then look for the equivalent function titles in either the same file, or if specified, in another unrelated file.
  </p>
  <p>
    There is a mechanic for giving out hints, which is fed from the MUD&rsquo;s hint handler. They should be used sparingly, but they are a great tool to add in for areas that are a little bit more complicated. In the case of the plane where you have a time limit, it&rsquo;s best to let the players know that they need to actively do something. All hints can be disabled through the options menu.
  </p>

  <h3>Once should never be enough</h3>
  <p class="c9">
    I envision dungeons on <span class="softwaretitle">Epitaph</span>&nbsp;to not only be full of story, but replayability. Replayability with a deep story holds the biggest challenge, but I like to think back to novels that make me want to read them again, and when I do I use that as inspiration. One book that I find beautiful to read multiple times is
   <span class="softwaretitle">Heaven&rsquo;s Prisoner&rsquo;s</span>&nbsp;by James Lee Burke. The plot isn&rsquo;t very complex, but the poetic writing and the characters keep bringing me back in. I still think, however, that when it comes to gaming of any medium gameplay should always triumph over story. Story is important, but it should always be willing to change itself for the gameplay, not the other way around. The narratives of repeatable quests, achievements, and hidden rooms should be designed like a new area of the game, except with its own mechanics, its own little engine, in which we, the developer, can do things we may otherwise be unable to do &mdash; modify the weather, have NPCs react in ways we couldn&rsquo;t do in other areas, even put in scripted events that may not be viable out in the open world.
  </p>
  <p>
    I like to think that a narrative can be presented in more ways than just paragraphs. It can be complemented with interactivity and immersion on the simplistic plane.
  </p>
  <p>
    Let us not forgot that MUDs have some the most interactivity and immersion games can offer.
  </p>
  <p>
    To add to the narrative atmosphere, and replayability, I have put in dungeon goals that help challenge the group and the individual. On <span class="softwaretitle">Epitaph</span>&nbsp;we have a goal system in place already that randomly hands out certain objectives (working out, killing some number of zombies, eating, exploring something, etc.) but the dungeons will have their own unique ones. For example, in one of the dungeons I&rsquo;m working on where you have to board a plane to France, when you enter the dungeon you are automatically assigned the task of boarding the plane, and once accomplished you gain a small amount of XP. We can scatter these goals around and can add in as many as we like. Some of them could be really difficult (board the plane in less than 30 seconds while fending off waves of zombies), while others more simple (the basic requirement of merely boarding the plane). Unlike achievements that can only be accomplished once, every time you enter the dungeon the goals are refreshed and are ready to be tackled again.
  </p>

  <h3>Vending machines&hellip; or boss fights?</h3>
  <p>
    No true dungeon is without loot. I mean, that&rsquo;s the point, isn&rsquo;t it? A story will only hold you so far. Can anyone imagine how successful <span class="softwaretitle">Diablo 2</span>&nbsp;would have been if there was no loot? The gameplay is nice, and that&rsquo;s what brings you in, but it&rsquo;s the loot that keeps you coming back. Loot on <span class="softwaretitle">Epitaph</span>&nbsp;is generally items that do something that isn&rsquo;t usually found in basic items around the game. For the dungeon loot, or any sort of &ldquo;out of the ordinary&rdquo; type item, we can give them skill bonus modifiers, or special one-time-use abilities.
  </p>
  <p>
    Instead of bosses only dropping a helmet, or a pair of gloves, or a walnut stock pump-action shotgun, our bosses can drop all of the above, plus schematics and crafting materials. These materials are then used to craft high quality items. So, for example, instead of venturing into a dungeon to get
   <span class="italicd">shoulderpads of the elements,</span> you could be going after
   <span class="italicd">skin of Blacklight</span>, a special crafting material that is used to create a blindfold that allows the wearer to see in the dark (merely an example). The point here is that boss loot could very well transfer over to crafters. Imagine this: your group has killed a boss who was guarding a sacred tree, so now if you have someone in the group who can fell trees they can get the special lumber that is used in a schematic found elsewhere in the game. Because we are talking about components of a bigger picture it sets a new dimension as to how loot is handled. Doing it this way means narratives can include all those within the crafting world, from the mules, to the resource gatherers, to the actual producers. Some of this loot could be harvested (by felling, or skinning, or mining) from the environment of the defeated boss, or it could be in the boss&rsquo;s loot table (maybe a boss dropped a mechanical hand that could be used in constructing a mechanical robot). Then when you have either crafted your item or had it drop, you may realize that it is actually part of a set...
  </p>
  <p>
    Just like in <span class="softwaretitle">World of Warcraft</span>, our bosses offer set pieces that give bonuses upon equipping the complete collection.
  </p>
  <p>
    In terms of boss fights for the <span class="softwaretitle">Epitaph</span>&nbsp;narratives I would say very little has been changed from the current expectation. My only real philosophy with bosses is to make sure that they are interesting, and that means having a background story (when I used to play <span class="softwaretitle">WoW</span>, I would enjoy reading up on all the bosses in the dungeons, just to find out why they were there) and that they provide interesting fight mechanics. Not every boss fight has to be completely unique, but each boss has to have something about itself that is <span class="italicd">different</span>&nbsp;&mdash;&nbsp;it could be as simple as a boss attack that leaves a unique debuff.
  </p>
  <p>
    Using another example from the power station narrative, there is a boss called Blacklight. He&rsquo;s the first boss, is relatively simple, and doesn&rsquo;t really add much to the story of the dungeon. What makes him different, though, is one of his unique attacks. When his eyes flash black, anyone in the group who has the corporation letter (a blank piece of paper found in the dungeon) will now find that the piece of paper is filled with text. If you read the letter and follow its instructions, you find yourself embarked upon a solo quest somewhere else in the world.
  </p>
  <h3>Conclusion</h3>
  <p>
    Many of the ideas I&rsquo;ve outlined here have already been touched upon by current multiplayer games in some form. I agree with the philosophy of team-based objectives within dungeons as opposed to purely team-based killing, and I agree with giving a form of moral choice to individuals within these groups. I like to think that the philosophy behind making a modern MUD dungeon isn&rsquo;t about breaking the mold, or reinventing the genre; it&rsquo;s about taking something that already exists, honouring it, respecting it, but then snipping back what isn&rsquo;t needed and making it better. The term I like to use is <span class="italicd">expanding the mold.</span>
  </p>
{% endblock %}
{% block article_bio_content %}
    Hugo (Robert Winter) is a senior developer on <a class="softwaretitle" href="http://epitaphonline.co.uk">Epitaph</a>; when not mudding he enjoys hiking and trekking.
{% endblock %}
