{% extends "issue/article/index.html" %}
{% block page_title %}
	Your MUD Should Have an Account System
{% endblock %}
{% block article_authors %}Matthew <span class="author-nick">Chaos</span> Sheahan{% endblock %}
{% block article_date %}29th January 2014{% endblock %}
{% block article_content %}
  <p class="c1"><span>The traditional approach to awareness of the user in MUDs is to blur the distinction between
  player and player character as much as possible, giving rise to things like the somewhat deranged jargon where we
  refer to player vs. player conflict as &#8220;player killing&#8221;, despite the fact that in MUDs (unlike MMOs) only
  player</span> <i>characters</i><span>&#160;have, to date, been murdered in such activities. So
  it&#8217;s not surprising, only dismaying, to find that in 99% of MUDs the player character</span> <span class=
  "c7">is</span><span>&#160;the user account</span> <span class="c3">&#8212; which means that</span> <span>deletion or
  permanent death of a character results in loss of all information about the player, and trying out a new character
  concept requires tedious re-entry of profile information and preferences.</span></p>

  <p class="c1"><span>Honestly, friends, it&#8217;s a little ridiculous. At this late stage in the game, your MUD
  should have an account system</span> <span class="c3">&#8212; by which I mean a concept of tracking information
  that&#8217;s about the player (login name, password, profile settings, etc.) separately from information about that
  player&#8217;s character or characters.</span></p>

  <p class="c1"><span>Some of the benefits you can get from an account system include:</span></p>

  <ol class="c0 lst-kix_xaabl649vkxu-0 start" start="1">
    <li class="c4 c1"><span>Configuration points such as terminal information and interface style settings can be kept
    at the account level, so that players only ever need to set them once.</span></li>
  </ol>

  <ol class="c0 lst-kix_xaabl649vkxu-0" start="2">
    <li class="c4 c1"><span>Command aliases can be extended to support aliases that are shared between all of a
    player&#8217;s characters. (I find that it&#8217;s best to provide for both character-specific and shared
    aliases.)</span></li>
  </ol>

  <ol class="c0 lst-kix_xaabl649vkxu-0" start="3">
    <li class="c4 c1"><span>A requirement that the account be tied to a deliverable email address</span> <span class=
    "c3">(</span><span>the current internet standard for minimal account-setup validation)</span><span>&#160;can be
    implemented without imposing a tedious burden on every new character setup. (Note that this doesn&#8217;t mean
    having to impose this as an initial barrier to getting into the game, and I&#8217;d recommend against doing that.
    You always want login-to-actually-playing to be as smooth a pipeline as possible.)</span></li>
  </ol>

  <ol class="c0 lst-kix_xaabl649vkxu-0" start="4">
    <li class="c4 c1"><span>A concept of the expertise level of the player can be tracked across characters, allowing
    new players to be shown more tutorial-heavy content while new characters created by established players get a more
    streamlined experience.</span></li>
  </ol>

  <ol class="c0 lst-kix_xaabl649vkxu-0" start="5">
    <li class="c1 c4"><span>It becomes feasible to allow players to supply more profile information about themselves
    simply because there&#8217;s now a place for that information to live that isn&#8217;t ephemeral.</span></li>
  </ol>

  <ol class="c0 lst-kix_xaabl649vkxu-0" start="6">
    <li class="c4 c1"><span>You can provide players with an easy way to try out new character concepts and keep track
    of those characters, and also a way to sensibly manage the number of characters a given player has. (Most players
    will stick to a single account simply because it&#8217;s easy and intuitive to do so, and if you make a &#8220;one
    account per player&#8221; rule, you actually have some hope of enforcing that, while character limits in a
    &#8220;character = account&#8221; system are almost definitionally hopeless.)</span></li>
  </ol>

  <ol class="c0 lst-kix_xaabl649vkxu-0" start="7">
    <li class="c4 c1"><span>There&#8217;s a place for a history of the player&#8217;s characters and their achievements
    to live.</span></li>
  </ol>

  <ol class="c0 lst-kix_xaabl649vkxu-0" start="8">
    <li class="c4 c1"><span>A voluntary temporary self-lockout feature</span> <span class="c3">(a favorite of students
    with upcoming final examinations) can be implemented on an account-wide level.</span></li>
  </ol>

  <ol class="c0 lst-kix_xaabl649vkxu-0" start="9">
    <li class="c4 c1"><span class="c3">Unlockable access to character design features can be handled in an arguably
    less hackish way than destructive &#8220;remorts&#8221;.</span></li>
  </ol>

  <p class="c1"><span class="c3">On the other hand, a common objection to account systems is that they create an
  additional barrier a new player must surmount before getting into the actual game. Quite frankly, that isn&#8217;t
  necessarily the case at all; it&#8217;s just a matter of attention to user experience design. My preferred approach
  is to create the account under the new player&#8217;s chosen name, and then to immediately bring them into the game
  as a character with the same name as the account. The process doesn&#8217;t need to have any more hurdles in it than
  you give it.</span></p>

  <p class="c1">If you&#8217;d like to look at running code for more ideas, <a class="softwaretitle" href="http://www.evennia.com/">Evennia</a>
  is a modern MUD-building
  framework that comes with account mechanics built-in. Don&#8217;t be shy; it&#8217;s both easier and more productive
  than you might think.</p>
{% endblock %}
{% block article_bio_content %}
	Chaos (Matthew Sheahan) is the lead developer of <a class="gametitle" href="http://lostsouls.org/">Lost Souls</a>.
{% endblock %}
