{% extends "base.html" %}
{% block page_title %}
	Links
{% endblock %}
{% block page_content %}
	<div class="mainsection">
	  <div class="mainheader"><a name="contribute">Links</a></div>
	  <div class="mainbody">
		<p>
			<a name="links-aggregators">Aggregators</a>
			<ul class="sub-menu">
				<li><a href="http://planet-muddev.disinterest.org/">Planet MUD-Dev</a></li>
				<li><a href="http://planet-rldev.disinterest.org">Planet RL-Dev</a></li>
				<li><a href="http://www.planet-if.com/">Planet IF</a></li>
				<li><a href="http://www.roguebase.net/">Roguebase</a></li>
			</ul>
		</p>
		<p>
			<a name="links-forums-mud">MUD forums:</a>
			<ul class="sub-menu">
				<li><a href="http://www.mudbytes.net/">MUDBytes</a></li>
				<li><a href="http://mudconnect.com/SMF/index.php">The MUD Connector</a></li>
				<li><a href="http://topmudsites.com/forums/">Top Mud Sites</a></li>
				<li><a href="http://www.reddit.com/r/MUD/">/r/MUD</a></li>
			</ul>
		</p>
		<p>
			<a name="links-forums-roguelike">Roguelike forums:</a>
			<ul class="sub-menu">
				<li><a href="http://forums.roguetemple.com/index.php">Rogue Temple</a></li>
				<li><a href="http://www.reddit.com/r/roguelikedev/">/r/roguelikedev</a></li>
				<li><a href="http://www.reddit.com/r/roguelikes/">/r/roguelikes</a></li>
			</ul>
		</p>
		<p>
			<a name="links-forums-if">Interactive fiction forums:</a>
			<ul class="sub-menu">
				<li><a href="http://www.intfiction.org/forum/">intfiction.org</a></li>
				<li><a href="http://www.reddit.com/r/interactivefiction">/r/interactivefiction</a></li>
			</ul>
		</p>
	  </div>
	</div>
{% endblock %}
