{% extends "issue/other/index.html" %}
{% block page_title %}Introduction{% endblock %}
{% block other_content %}
		  <p>
			This issue was delayed.  There wasn't a glut of article submissions.  The editing and proofreading
			took as long as it had to.  And cobbling what we have here together, took as long as that had to.
		  </p>
		  <p>
			Thanks for reading.
		  </p>
		<p class="authorbio">Richard Tew</p>
{% endblock %}
