{% extends "issue/article/index.html" %}
{% block page_title %}
	The Worlds in Which we Wander
{% endblock %}
{% block article_authors %}Michael <span class="author-nick">Drakkos</span> Heron{% endblock %}
{% block article_date %}19th May 2014{% endblock %}
{% block article_content %}
  <p>
    We&#39;re big on area development on Epitaph. &nbsp;Older MUDs often don&#39;t really need it&nbsp;&mdash; the time taken to develop a new area can be considerable, and beyond a certain player-to-room ratio, new areas only exacerbate a sense of loneliness. &nbsp;MUDs work best when people interact regularly, and an ever-expanding world (coupled with, in many cases, an ever decreasing player-base) creates fewer opportunities for that interaction. &nbsp;People need to compete for resources and rare gatherable treasures. &nbsp;Tensions in this respect are valuable&nbsp;&mdash; they&#39;re the dirt around which the pearl forms. &nbsp;They&#39;re a source of gossip and antagonisms, and these in turn drive discussions, allegiances and engagement. &nbsp;Whilst they may not be actively enjoyed by players, the challenge in dealing with scarcity is in many ways the secret source of what enjoyment they may experience. &nbsp;Old games risk much of their social cohesion by expanding too far beyond what their player base can support.
  </p>
  <p>
    New games though don&#39;t have this&nbsp;&mdash; a new game has to expand, and it has to expand reasonably rapidly to keep people interested. &nbsp;This is difficult to do well&nbsp;&mdash; the cost of good area development is significant. &nbsp;It&#39;s easy to throw together a few room descriptions and call it a day&nbsp;&mdash; the best MUDs, in my view, are those that reflect in their presentation a deep attention to detail and thoughtfulness in planning. &nbsp;Our rooms often have two sets of descriptions (day and night) along with dozens of additional nouns that you can look at within the room. &nbsp;That&#39;s not unusual in MUDs which, of course, thrive on the quality of their text. &nbsp;It is though in my experience unusual for a new game where quantity is sometimes as important a measure as quality. &nbsp;I spend a fair time having a look at new games that announce their opening, and I&#39;m always somewhat surprised to see how little effort has gone into the world.
    I understand why other things take priority, but it never sends a great message.
  </p>
  <p>
    On Epitaph, we also make a big deal about thematic consistency. &nbsp;We want a world that feels coherent&nbsp;&mdash; MUDs where that&#39;s not important can mix things up in their offering by incorporating the genuinely novel. &ldquo;Here&#39;s your vampire area, and now here&#39;s the Star Wars area, enjoy that before you head into the smoky ruins of the post-nuclear exchange area.&rdquo; When there&#39;s no need for thematic consistency, each area can surprise and delight by just how different it is to other areas. &nbsp;While that&#39;s a short-term boon, in the long term it leaves a game feeling confused and mixed up unless a lot of effort is spent tying together these disparate themes.
  </p>
  <p>
    Thematic consistency for Epitaph is a constant thing we need to assess, revise and review. Our game, as you may know, is set during a zombie apocalypse (in my defence, zombies weren&#39;t nearly so overused as a game development trope when we started, and I think we&#39;re still the only zombie MUD out there that ever made it to release &mdash; correct me if I&#39;m wrong, I&#39;d love to take a look at what others may have accomplished with the theme). This setting is key to designing game mechanics (we&#39;ve made several changes recently to increase the danger that &nbsp;players experience), the evolving game story, and importantly for this article, the areas. &nbsp;We&#39;re not set in a fantasy land, or another planet&nbsp;&mdash;we&#39;re set
    <a href="http://tvtropes.org/pmwiki/pmwiki.php/Main/TwentyMinutesIntoTheFuture">twenty minutes into the future</a>
    in a universe only slightly parallel to our own. &nbsp;It&#39;s this that makes area development on
    Epitaph
    a challenge, and those who can face up to that challenge and surmount it so valuable to us.
    In this article, I want to talk about some of the issues that go into making a game world like Epitaph.
  </p>

  <h3>Choosing an Area to Develop</h3>
  <p>
    Consider the real world around us&nbsp;&mdash; consider a typical city. &nbsp;Once the people are gone, how different is it from any other city with which you&#39;re familiar? &nbsp;For most cities in a particular region, not very much. &nbsp;The high street of any metropolis now is largely indistinguishable from any other&nbsp;&mdash; the coffee shops all have the same brand (with the edgy, indie local offering soon shouldered out of the marketplace). &nbsp;The book shops all have the same name. &nbsp;The clothes shops all show the same lines from the same manufacturers. &nbsp;The order in which you experience globalised homogenisation may be different, but there&#39;s rarely anything that screams &ldquo;you&#39;re somewhere new and interesting&rdquo;. Different countries may feel substantially different, but again it depends on how far you go. &nbsp;I&#39;ve never been to Beijing to see for myself, but I know Paris isn&#39;t meaningfully different to London once you remove the living, breathing aspect of it.
  </p>
  <p>
    So, that&#39;s an issue for us if we want to create a sense of novelty in our world&nbsp;&mdash; we can&#39;t just keep creating new cities and selling them on the basis of the novel experience. &nbsp;Without the people, cities are just shells&nbsp;&mdash; there might be the occasional notable architectural feature, but you&#39;re still treading very familiar ground. That&#39;s bad for players, and it&#39;s bad for creators&nbsp;&mdash; who wants to write fifteen different shopping malls? &nbsp;Who wants to pour their heart and soul into the eightieth public restroom? Take it from me&nbsp;&mdash; there&#39;s only so often you can write the phrase &ldquo;tampon machine&rdquo; into a room description before you wonder what you&#39;re doing with your life. &nbsp;However, horror works best when it takes the familiar and turns it inside out &nbsp;&mdash; we could just not do those kind of rooms, but I think it feels more real, and thus more immersive, when they exist. &nbsp;And yet, the familiar is mundane and the novel requires fresh experiences.
  </p>
  <p>
    Our solution on Epitaph has been to accentuate the novelty in our own world. All of our areas right now have a particular geographical context (they radiate outwards from our &ldquo;main&rdquo; city, which is a fictionalised hybrid of several cities in Scotland), and when selecting a new area to develop we look to see what might make for interesting post-apocalypse settings. &nbsp;We&#39;ve got towns, a couple of villages and a city already&nbsp;&mdash; we could always add more of those in, but there are diminishing returns for the reasons I outline above. &nbsp;Instead, we look to the geography of the region and select areas around that. &nbsp;We also allow our emerging story to influence this&nbsp;&mdash; what does the story need to drive it forward? &nbsp;In that we&#39;re blessed by our faction model which stresses the human element whilst also creating ongoing tensions of allegiance. &nbsp;The three biggest factions in our game are all engaged in a &ldquo;cold, but getting hot &rdquo;&nbsp;war with each other&nbsp;&mdash; usually working via intermediaries (the players) to undermine the efforts of their foes.
  </p>
  <p>
    Some of our more recent additions for example have been a corporate research base in the arctic and the United Nations warship that was sent to destroy it. &nbsp;The warship got frozen in, and now they&#39;re engaged in battles of sabotage against each other. &nbsp;Both of these are easily supportable from our story and from our geographical context, and largely emerge as a natural consequence of both.
    We&#39;ve got an old timey castle, formerly a tourist attraction and turned into a modern zombie-proof fortress. &nbsp;We&#39;ve got a remote observatory being stripped of its astronomical and telemetric data for analysis.
    We&#39;ve got an abandoned abbey in tension with the North Sea island town that is blocking free troop movement from the mainland.
  </p>
  <p>
    Future areas include a decaying oil-rig platform, a prison situated on a lonely outcrop of rock, and an aircraft carrier out at sea&nbsp;&mdash; every new area, in other words, has an element of genuine novelty to it and that makes it much easier for us to develop. &nbsp;Re-treading common ground is depressingly routine, and it&#39;s hard to keep any kind of enthusiasm going for it. &nbsp;However, it&#39;s easy to get excited about the area and quest development potential of an oil rig versus &ldquo;yet another small town&rdquo;. &nbsp;More fantastical worlds don&#39;t have this limitation usually, but even so there&#39;s only so many times you can experience a city environment without it feeling &ldquo;samey&rdquo;. &nbsp;Across all the fantasy worlds in all the fictional multiverses, any novelty at all is hard to sustain&nbsp;&mdash; &ldquo;oh look, there&#39;s the Elven forest, right next to the dwarf mines; ho-hum&rdquo;. With this in mind, the first step in area development has to be &ldquo;pick an area that&#39;s interesting enough to code&rdquo;, because that&#39;s the prerequisite to it being interesting enough to play.
  </p>

  <h3>Developing the Area</h3>
  <p>
    Once we&#39;ve got an area on our to-do list, we need to think about how it will actually look. &nbsp;Our three main factions are the closest thing we have to &ldquo;guilds&rdquo; or &ldquo;classes&rdquo; on Epitaph&nbsp;&mdash; choosing one locks you out of following through the quest story of the others, and also changes the dynamic of the areas you can visit. &nbsp;Those who side with the Last Covenant, a quasi-military religious faction, have free access to Kirkmohr castle and the ruined abbey. &nbsp;There are quests they can pick up there that nobody else can. If they want to see the observatory or the island town, they&#39;re going to have to go in as a spy or a soldier. &nbsp;That doubles the potential of an area because it has two roles it can take on for a player&nbsp;&mdash; safe harbour or target of mischief.
  </p>
  <p>
    Not all areas fall into this category&nbsp;&mdash; some areas, those controlled by smaller factions, are completely neutral. &nbsp;Others have no human control, and they too are neutral. But the big areas are all linked into the factions. &nbsp;So that becomes the basis of our next big set of questions to answer:
  </p>
  <ul>
   <li>Who controls the area, if anyone?</li>
   <li>Why do they control it? &nbsp;This is a world with scarce natural and artificial resources, and territory must be defended. &nbsp;What&#39;s valuable about this area?</li>
   <li>If it&#39;s controlled by one of the main factions, what could their enemies to do undermine their efforts?</li>
  </ul>
  <p>
    This is mostly just a mental exercise to ensure some sense of believability in a world. Why did the Last Covenant want an old mouldering castle they needed to rebuild? &nbsp;Well, in our case it&#39;s because it was in a tremendously defensible position, offered unparalleled access to the mainland and came with a sheltered jetty that facilitated access to Britain from Western Europe. &nbsp;These things resulted in it evolving into a major hub for the Covenant. &nbsp;In short, it was all location, location, location. &nbsp;For the observatory, it&#39;s not at all obvious as to why even a scientifically focused faction like our Osiris Corporation would care about a remote Scottish location like this. &nbsp;To square that circle we invented some secret projects that required wide coverage of the night sky. &nbsp;We also invented a quest chain that involved the observatory chief scientist being funded on an Osiris grant, and him in turn embedding secret research data into the observatory and its attached planetarium.
    It&#39;s all about thinking &ldquo;what does this faction want?&rdquo; and &ldquo;conceivably, how could this area fit into their plans&rdquo;.
  </p>
  <p>
    While there is something of a natural fit here in terms of faction themes and the areas they go to, it&#39;s not a straitjacket&nbsp;&mdash; we could have placed the Covenant at the Observatory with some quasi-mystical justification&nbsp;&mdash; perhaps one of their religious philosophers wants to map the face of God through radio telemetries. &nbsp;The factions aren&#39;t intended to be shallow caricatures&nbsp;&mdash; they are all interested in the same basic things, just in differing degrees and with differing access to resources and skillsets. &nbsp;What&#39;s important is that there is a credible reason for housing the faction in the area, and that should be true of any unusual presence in any game area. &nbsp;If you can&#39;t justify why the iron golem is in the sylvan glade, then you need to go away and think about it until you can. &nbsp;Once you can, make sure that anyone who comes along later can work it out via contextual and environmental clues. &nbsp;The alternative is to lose all internal cohesion in your game world.
  </p>
  <p>
    Picking a faction (or not) helps funnel the development towards a reason for the area being of interest. &nbsp;This in turn usually defines the bulk of the quests to be found in there. &nbsp;Our quests on
    Epitaph
    &nbsp;are reasonably meaty
    &nbsp;&mdash;
    they come with all kinds of supporting information and dialog, tying them into both the theme of the area and the ongoing competition for resources. &nbsp;Sometimes they&#39;re driven by the personal aims of the NPCs, and sometimes they&#39;re entirely all related to the business at hand. &nbsp;Sometimes they&#39;re a little more abstract, driven by the considerations of the area itself
    &nbsp;&mdash;
    dealing with the problems that a particular location would be likely to have, or reflecting the strange obsessions of those who might be members of the faction resident within.
  </p>
  <p>
    On Epitaph, we also have a &ldquo;feature problem&rdquo; in that the traditional things used to make an area interesting don&#39;t really exist for the most part&nbsp;&mdash; we can&#39;t just thread a city street full of shops and houses and the like, because every dwelling in the apocalypse must be a fortress. &nbsp;Shops are linked to factions, and so we can&#39;t just have a &ldquo;clothes district&rdquo; or whatever&nbsp;&mdash; it just wouldn&#39;t make sense. &nbsp;That means that we need to make our areas interesting in other ways. &nbsp;I&#39;ve long been a believer that areas where there is nothing to do only detract from the quality of a MUD, and yet our thematic constraints pretty much mandate large areas full of nothing to do. &nbsp;To a certain extent we&#39;ve addressed that by making scavenging a key game feature&nbsp;&mdash; searching different kind of locations yields different kind of loot. &nbsp;Similarly, our focus on zombies means that there are comparatively few &ldquo;scenic&rdquo; areas of the game&nbsp;&mdash; they&#39;re all stuffed to the gunnels with things looking to kill you.  That lends appropriate texture to the game.
  </p>
  <p>
    Having a small faction in an area is an easy way to add interest because it comes with a shedload of interaction choices as part of the core system&nbsp;&mdash; you get access to skill trainers, faction shops, mission generators and more. &nbsp;Quests are the ideal option since they are by their very nature unique and interesting systems for players to engage with. &nbsp;Loot and NPCs are cheaper options&nbsp;&mdash; definitely something that should be considered as part of the overall offering, but by themselves a flimsy rationale for visiting.
  </p>
  <p>
    This is where the real work of an area comes in&nbsp;&mdash; it&#39;s not just the mechanics of these things we need to implement, it&#39;s all the pomp and circumstance around it. &nbsp;An average area room on Epitaph will contain perhaps 500 words of unique text (we cheat a little with city streets, which all share a common core of a description). &nbsp;An average NPC on Epitaph contains about the same in terms of descriptions, responses and random chats. &nbsp;An average area may be around 30 or 40 rooms with ten or so unique NPCs. &nbsp;Right away you can see something of the scale of the challenge&nbsp;&mdash; an average area may contain between 20k and 25k words of text, which is a very substantial undertaking if you want those words to be any good. &nbsp;Leaving aside coding challenges, as a pure narrative task it&#39;s basically like every single area needs someone to write a novella.
  </p>
  <p>
    But there&#39;s more than that we layer on to our areas&nbsp;&mdash; quests in particular on Epitaph are a lot more involved than they are in many games. &nbsp;In a lot of MUDs there&#39;s a task to perform&nbsp;&mdash; you perform that task and boom, you get a quest. Epitaph has the same mechanics for completing quests, but they come with often extensive amounts of meta-data. &nbsp;Quests are handled in external data files, and then dialogues and such are layered on when the quest is added to the NPC.
    Many quests also come with followup mail messages that are sent later once the quest has been completed. &nbsp;The simple act of describing an area is only one part of what development means in our world. &nbsp;
  </p>
  
  <h3>Integrating the Area</h3>
  <p>
    Finally, we need to work out how to integrate the area into the game.
    Many games now incorporate some kind of &ldquo;overland&rdquo;&nbsp;map where procedurally generated rooms serve as the way to connect areas that are supposed to be in different geographical zones. &nbsp;Personally, I&#39;ve always found these kind of systems to be a net negative on a game&#39;s quality. &nbsp;As discussed above, they create a sense of vastness of space that only undermines the necessity of creating engaging social interactions. &nbsp;However, if you&#39;ve got a system like this it&#39;s a breeze to integrate a new area into a game.
   </span>
  </p>
  <p>
    I didn&#39;t want that kind of system for Epitaph&nbsp;though, but I also didn&#39;t want the other extreme where the game map is large areas connected by short paths. &nbsp;That gives no sense of scale. &nbsp;Instead, we went for an exploration system where randomly generated &ldquo;choose your own adventure&rdquo;&nbsp;style vignettes allowed you to explore an abstraction of the world. &nbsp;You&#39;d wander down deserted motorways, &nbsp;through hills and glens, and every so often you&#39;d get a chance to visit a randomly generated area (like a service station, or a cave, or a small copse of trees) or one of the game&#39;s
    &ldquo;bespoke&rdquo;&nbsp;areas. &nbsp;Once you&#39;d found it once, it was available for fast travel. &nbsp;Fast travelling in turn is only available from certain debarkation points&nbsp;&mdash;so you can&#39;t simply fast travel from anywhere, you need to make your way to a point where it&#39;s enabled. &nbsp;That gave us, I think, the best of both worlds&nbsp;&mdash; a sense of scale, a separation of content that doesn&#39;t trivialise travel, and a convenience of exploration that isn&#39;t painful to navigate.
  </p>
  <p>
    However, some areas aren&#39;t linked into the exploration system and instead work through our taxi code&nbsp;&mdash; taxis are rooms you can enter that periodically travel to other locations along a set route. &nbsp;From Kirkmohr Castle for example you can catch a ship to the ruined abbey, or hang on until it gets to the secret invasion point on a far-flung island. &nbsp;You can take a helicopter from the Osiris headquarters in the main city to the research base. &nbsp;These kind of routes allow for relative ease of travel without making it too routine&nbsp;&mdash; these places are supposed to feel like they&#39;re far away, and thus it shouldn&#39;t be possible to simply speed-walk through in seconds.
  </p>
  <p>
    Once an area is developed then we need to consider how we make it available in the game. &nbsp;That in turn needs more context provided&nbsp;&mdash; NPCs need to talk about the area, radio chatter needs to acknowledge its existence, and slowly and surely players need to be made aware that a new location is now available for exploration. &nbsp;A good area, in my view, feels like a natural progression of a game world&nbsp;&mdash; it doesn&#39;t seem tacked on or arbitrary. &nbsp;That in turn needs it to relate to other areas&nbsp;&mdash; a simple trick for this is to add an NPC somewhere that already exists and have them be the hook into the new area. &nbsp;That creates a sense of continuity that might otherwise be missing.
    Better ways exist though, and my favourite of these is to have areas in tension against each other &nbsp;&mdash; two separate areas can be made into one coherent addition by creating a mutual antagonism. &nbsp;That happens naturally with our big factions, but smaller factions are almost entirely neutral. &nbsp;In between are our medium factions, where siding with one locks off a single other faction from peaceful exploration. &nbsp;This gives us ways to both make the game feel &ldquo;alive&rdquo; and full of dangerous competition. &nbsp;It also encourages re-playability through the exploration of other faction choices.
  </p>

  <h3>A Difficult Job</h3>
  <p>
    All of this is hard to do, and any decent area developer will undoubtedly attest to that. &nbsp;My role on Epitaph is wide-ranging&nbsp;&mdash; I write many of the core code systems and direct the overall shape of the game, but I also get my hands dirty with area development. &nbsp;The prejudices that many coders have against area developers as a kind of &ldquo;easy mode&rdquo; contribution are not prejudices I share&nbsp;&mdash; I know first hand how much work goes into making a good area, both on Epitaph and on Discworld MUD where I also wrote many. &nbsp;As such, we treat area development with the respect it deserves &nbsp;&mdash; as a complex, creative and above all difficult job.
  </p>
  <p>
    You don&#39;t have to just be a good writer to be a good area developer. &nbsp;You don&#39;t just have to be a decent coder to do interesting quests. &nbsp;You need to be able to fully integrate the various parts of your requirements into something that is worth players experiencing. &nbsp;People often mistake area work for &ldquo;descriptions&rdquo; &mdash; you see that particular fallacy perpetrated every day on the various MUD web forums. &nbsp;Maybe that&#39;s symptomatic of some of the more limiting game engines out there (it&#39;s hard to be very creative in areas when all you can do is set descriptions and a few behaviour flags on a room) and a natural consequence of their design. &nbsp;However, my area work, which has been extensive over the years, is easily every bit as challenging as my game engine work. &nbsp;Moreover, it&#39;s also more deeply creative&nbsp;&mdash; a good area is more than just a well written location. &nbsp;A good area is a tool you&#39;re using to present your game. &nbsp;Just like the best game mechanics integrate deeply with the rest of the game, the best areas integrate deeply with the world you&#39;re trying to create. &nbsp;They reveal new parts of the theme and reinforce other parts. &nbsp;They create opportunities for building the right kind of game options for people. &nbsp;A good game area is more than simply a sightseeing spectacle &nbsp;&mdash; a good game area is a day to day part of the lives people live within your game world. &nbsp;
  </p>
  <p>
    There&#39;s a common refrain that the most difficult volunteers to get on board with MUD development are coders, because coding is a reasonably rare and highly specialised skill. &nbsp;Both of those things are true. &nbsp;However, someone who can weave a good area out of nothing more than design notes and noble intentions has an equally rare and valuable skill.
  </p>
  <p>
    The experiences we have with area development on Epitaph aren&#39;t wholly generalisable&nbsp;&mdash;we have thematic constraints that most worlds won&#39;t, and we have technical frameworks available that most games don&#39;t. Area development on Epitaph&nbsp;can be a lot more richly creative than in many games with which I have experience because of how much of the game we offload onto common technical cores, and how open we are with letting people add content to those technical cores. No matter where you are though, good area development is tricky to do&nbsp;&mdash; and I&#39;d like to invite anyone who would like to explore their ability to do it to get in touch with us on Epitaph.
  </p>
 </p>
{% endblock %}
{% block article_bio_content %}
	Drakkos (Michael Heron) is the lead developer of <a class="softwaretitle" href="http://epitaphonline.co.uk">Epitaph</a>
{% endblock %}
 