{% extends "issue/article/index.html" %}
{% block page_title %}
	Help save old mudding resources
{% endblock %}
{% block article_authors %}Richard Tew{% endblock %}
{% block article_date %}9th November 2013{% endblock %}
{% block article_content %}
  <p>
    A recent widely reported study (Zittrain 2013) discovered that half the links in all United States Supreme Court decisions are broken. Whatever they point to is no longer there. Mudding resources aren’t that much better off.
  </p>
  <p>
    Maybe you can help us undo the damage?
  </p>
  <h3><a href="http://www.disinterest.org/resource/MUD-Dev/">The MUD-Dev mailing list</a></h3>
  <p>
    This archive is mostly complete. Thanks to the help of others who provided partial collections of posts, I painfully pieced it together. But it is a mess. There are dead links and duplicate posts. The times and dates of the posts are incorrect, which means you often start reading the tail end of a discussion before you reach the post which started it. Do you have all the original emails stored away? Are you willing to put in the work to build a better version of this archive? What about the mailing list that preceded this one, whose posts were intended to be made available at some point?
  </p>
  <h3>The MUD-DEV conference</h3>
  <p>
     Back when the MUD-Dev mailing list was most active, mini conferences would be held while the Game Developer Conference (GDC) was also being held. There was talk of CD-roms being made of the presentations, and perhaps even video. Do you have any of these presentations, or even a one of these CD-roms?
  </p>
  <h3>The USENET newsgroup archives</h3>
  <p>
    There were several newsgroups focusing on various parts of the mudding community; amongst them were <a href="https://groups.google.com/forum/#!forum/rec.games.mud.lp">rec.games.mud.lp</a> and <a href="https://groups.google.com/forum/#!forum/rec.games.mud.admin">rec.games.mud.admin</a>. Years and years of discussion on a myriad of interesting topics happened within them. What were these topics? Good luck finding out. Google has the archives, and has slowly over the years been upgrading the interface which you can use to access them. Once you could start at the beginning, or at any point in their history, and skim your way through them. Maybe you’d find a gem. But these days, you can mostly just search the archives. How do you know what to search for? How can you know? You can’t really. Do you know someone at Google that can get us a more useful form of access, or even copies to work through offline?
  </p>
  <h3>The MUD Magic discussion forum</h3>
  <p>
    I never really participated in these, but they were taken offline for some reason or other. Years and years of interesting discussion, also lost. The original administrator no longer has backups. Do you have some form of archives for this resource?
  </p>
  <h3>The <span class="publicationtitle">Imaginary Realities</span> discussion forum</h3>
  <p>
    As David Bennett published each issue, he also linked each article to a discussion thread. There people would get together and talk about ideas and thoughts related to each published article. This resource is also lost, unfortunately. Or is it? We were lucky enough that Fred Clift had mirrored <span class="publicationtitle">Imaginary Realities</span> itself, perhaps there is someone else out there that mirrored these forums?
  </p>
  <h3>Mirrored MUD content which is not longer available</h3>
  <p>
   Do you have any MUD content you downloaded, which is no longer available? As Fred mirrored <span class="publicationtitle">Imaginary Realities</span>, perhaps you mirrored something else of interest?
  </p>
{% endblock %}
{% block article_bio_content %}
    Richard Tew (<a href="mailto:richard.m.tew@gmail.com">richard.m.tew@gmail.com</a>)
{% endblock %}
{% block article_references_content %}
	{{ super() }}
  <p class="citation">
    Zittrain, Jonathan. 2013. “Scoping and addressing the problem of 'link rot'.”
    <a href="http://blogs.law.harvard.edu/futureoftheinternet/2013/09/22/perma/">http://blogs.law.harvard.edu/futureoftheinternet/2013/09/22/perma/</a>
  </p>
{% endblock %}
