{% extends "issue/article/index.html" %}
{% block page_title %}
	Introducing new players and redesigning MUD School
{% endblock %}
{% block article_authors %}Darcie <span class="author-nick">Natilena</span> Laur{% endblock %}
{% block article_date %}13th October 2013{% endblock %}
{% block article_content %}
  <p>
    For a long time, the MUD community has been discussing the dwindling player base, and the impact of modern games as a probable cause: the typical MUD community is an “older generation” of computer gamers. It’s always bothered me that the prevailing thought as to why the “younger generation” doesn’t play MUDs is that they are too graphics oriented and won’t give it a try as a result. I disagree; I’ve always felt that the issues involved are more those of any niche interest than a simple matter of “graphical games are ruining MUDs!”. Just as there are people who enjoy reading the book rather than seeing the movie, there are types of gamers who probably would enjoy a MUD if they could get past the barrier of the initial introduction. There are many ways of bridging the gap that are worth exploring, but my current focus is more towards how the game itself can become more welcoming and user-friendly.
  </p>
  <p>
    I spent some time introducing my kids and a few of their friends (ages 11 to 15) to my own home MUD. Of course I wanted them to like it and keep playing, but my primary goal was to observe and discern where the disconnect is between a new player’s expectations and how the game actually introduces itself. Truly, kids (well, mine at least) have the attention span of a zombie squirrel. Getting them invested enough to learn the ropes and enjoy the game has been an interesting challenge.
  </p>
  <div class="imgcenter">
   <img class="center screenshot" xheight="205" src="images/image01.png" width="287"/>
  </div>
  <p>
    I will concede that graphical games do much better than most MUDs at getting the player right into the game. There isn’t a school or an obvious tutorial, and game manuals are often not even included anymore. Modern games will just dump you right in and teach you as you go. This is related to the biggest problems the kids had trying to log in and play. They faced walls of text, and the overall feeling was “I just want to stop reading and kill something already!”. They would even try to inflict a messy death upon the various helper NPCs in the first parts of the game. Obviously this is not the outcome I had in mind.
  </p>
  <p>
    On the flip side, we also have a lot of new characters logging in who appear to be familiar with MUD s but then drop link a short time after starting a character, and I wanted to know why this happens, too. Rarely does a player who is unimpressed with the introduction to your game stick around to explain why, so as a starting point we started logging all of the failed commands entered by a level 1 character. The database log shows a time stamp, the failed command and the room number the character was in at the time. By focusing only on the failed commands, as opposed to trying to log everything, it excludes the extra “noise” of successful commands and gives a data set that is much easier to review and identify trends within. Its small size even made it possible to spot trends by eye rather than relying on queries. By reading through the database log, it was easy to see many of the incorrect commands were entered while the character was in the very first room. Failed commands such as map, search, inspect, enter and start, all entered from the New Player entrance, confirmed that nobody wants to read help files. I thought there must be a better way of teaching that didn’t involve all the reading.
  </p>
  <p>
    There is <a href="http://www.gdcvault.com/play/1015541/How-I-Got-My-Mom">a talk I highly recommend for any game designer</a> given by George Fan, the creator of <span class="gametitle">Plants vs. Zombies</span>. It discusses tutorial design and methods of getting a player into the game without having to read a novel first. My biggest take-away from this was how important it is to present the basic commands so that players are <em>doing</em> rather than reading about it. Second biggest was not to present too much information at once; for instance, they don’t need to know about death at the first login screen. That message can wait for the actual death.
  </p>
  <p>
    Notes and research done, I set out to redesign the introduction to the game. My philosophy and ultimate goal was to get away from all of the “look here”, “read this sign”, “read the newbie book” and “read this help file” stuff in order to get players into the game more quickly.
  </p>
  <p>
    The character creation process in our game, like many Diku-rivatives, was very linear, full of explanatory text with command prompts that only responded to very specific inputs. With some review, I focused the cleanup on rewriting the large, wordy paragraphs and replacing them with simple one- or two-line instructions. The process of choosing a race and class received a lot of attention. Previously, it was in a format of “pick a number for the race you want to be” followed by “pick a number for the class you wish to be”. Our class choices are restricted by race, causing a situation where the class the player may have wanted isn’t available for the race they’ve already chosen, without any easy way to back up and change race. Oh, and of course nobody reads the multi-page help files before making a choice. So, the race and class choices have now been combined together into a single step which better displays the available combinations. This screen will also take multiple arguments for input. For instance, if you wished to be a human cleric, you could type any of the following: human, then cleric; <span class="code">cl hum</span> (short forms); <span class="code">cleric hum</span>; or any combination of these. Only if you enter an impossible combination does the system respond with additional information.
  </p>
  <div class="imgcenter">
    <img class="center vmid screenshot" xheight="204" src="images/image04.jpg" width="359"/>
    <img class="center vmid screenshot" xheight="225" src="images/image02.jpg" width="359"/>
  </div>
  <p>
    In the game itself, the first room is where we tend to lose most new players. My first task was to remove the reading and replace it with actual actions (including MXP clickable links). This is a change from our old introduction, which would instruct new players to spend a good hour reading various help files, policies and command lists. We wanted to see how much of the basics could be taught in the first few rooms rather than through the required reading route. This creates another challenge because it is now essentially a forced tutorial. It needs to be mild enough not to annoy existing/MUD-knowledgeable users, but still teach truly new players the basics of what they will need to know. Our new opening screen no longer recommends all of the reading. It gives brief instructions with language that speaks directly to the player on the basics of experiencing the environment and getting around. To make it interesting, there are full exit descriptions and a multitude of extra little details that can be looked at. Once the player moves west into the next room, more brief instructions are there, in the room description, explaining about equipment and object manipulation. This is where players will receive their starter equipment. I considered creating an NPC that spoke to the player in the first few rooms, but decided that this would be overwhelming to a new player and annoying for an experienced player. Instead, the first NPC that speaks to the player and offers quests is presented only after the introductory rooms.
  </p>
  <p>
    While working directly with the kids, I took to heart the message that they really just wanted to get into the fight, but I maintained that basic combat commands still have to be taught. A good example is noting that a fighter doesn’t need all of the extra information about spell casting that a magic user does. Additionally, different types of magic users need different messages. I developed a technique that will display text in the description based on the character class. Now we have a room where a mage will get instruction on casting Magic Missile, a Cleric on Magic Stone and so on.  In the screenshots, note how nothing is mentioned in the fight instruction room to show how to flee or what happens when you die. The character doesn’t need to know that quite yet, so instead the relevant instructions appear only when they get themselves into that situation. The focus has become about building on information as the player progresses rather than force feeding it all at once. This creates a better, more immersive experience for players and keeps them interested in progressing through the game.
  </p>
  <div class="imgcenter">
   <img class="center screenshot" xheight="203" src="images/image03.jpg" width="407"/>
   <img class="center screenshot" xheight="201" src="images/image00.jpg" width="405"/>
  </div>
  <p>
    This is all part of our large version 5 project; it is not all quite finished or live. While it feels like we’ve achieved some of my basic goals for the first few moments of the game it’ll probably always be a “work in progress”. It is one of those areas that can always be monitored and improved upon. The final product will be finished with a quest sequence that will teach some of the remaining basics along the way while at the same time be fun.
  </p>
{% endblock %}
{% block article_bio_content %}
	Natilena (Darcie Laur) is a Greater Goddess on <a href="http://www.tfcmud.com">The Final Challenge</a>.
{% endblock %}
