{% extends "issue/article/index.html" %}
{% block page_title %}
	Building a Giant Mech in Evennia
{% endblock %}
{% block page_subtitle %}
	<span style="font-size: 10pt; font-style: italic">Because everybody should have one</span><br/>
{% endblock %}
{% block article_authors %}<span class="author-nick">Griatch</span>{% endblock %}
{% block article_date %}25th January 2014{% endblock %}
{% block article_content %}
    <p class="rcaptionblock"><img height="287" src="images/image00.jpg" width="203"><br/>
    <span style="font-style: italic"><br/>image from <a class="c20" href="http://griatch-art.deviantart.com">griatch-art.deviantart.com</a></span></p>

    <p class="c13 c8"><span>Let us create a functioning giant</span> <span class="c16"><a class="c20" href=
    "http://en.wikipedia.org/wiki/Mecha">mech</a> using the Python MUD-creation system</span> <span class="c16"><a class="softwaretitle"
    href="http://www.evennia.com/">Evennia</a></span><span>. Everyone likes a giant mech, right?</span></p>

    <p class="code">&gt; @create/drop Giant Mech ; mech</p>

    <p class="c13 c8"><span>Boom. We created a</span> <span class="c15">Giant
    Mech</span><span>&#160;</span><span class="code">Object</span><span>&#160;and dropped it in the room. We also gave it
    an alias</span> <span class="c15">mech</span><span>. Let&#8217;s describe it.</span></p>

    <p class="code">&gt; @desc mech = This is a huge mech. It has missiles and stuff.</p>

    <p class="c13"><span>Next we define who can &#8220;puppet&#8221; the mech object.</span></p>

    <p class="code">&gt; @lock mech = puppet:all()</p>

    <p class="c13 c8"><span>This makes it so that everyone can control the mech. More mechs to the people!
    (</span><span>Note that whereas <span class="softwaretitle">Evennia&#8217;s</span> default commands may look vaguely MUX-like, you can change the
    syntax to look like whatever interface style you prefer.)</span></p>

    <p class="c13 c8"><span>Before we continue, let&#8217;s make a brief detour. <span class="softwaretitle">Evennia</span> is very flexible about its
    objects and even more flexible about using and adding commands to those objects. Here are some ground rules well
    worth remembering for the remainder of this article:</span></p>

    <p class="c13 c4"></p>

    <ul class="c18 lst-kix_ajhaw4j5v1t4-0 start">
    <li class="c10"><span class="code">Player</span><span>&#160;represents the real person logging in and has no game-world existence.</span></li>
    <li class="c10"><span>Any</span> <span class="code">Object</span><span>&#160;can be puppeted by a</span>
      <span class="code">Player</span><span>&#160;(with proper permissions).</span></li>
    <li class="c10"><span class="code">Characters</span><span>,</span> <span class=
      "code">Rooms,</span><span>&#160;and</span> <span class="code">Exits</span><span>&#160;are just children of
      normal</span> <span class="code">Objects.</span></li>
    <li class="c10"><span>Any</span> <span class="code">Object</span><span>&#160;can be inside another (except if it
      creates a loop).</span></li>
    <li class="c10"><span>Any</span> <span class="code">Object</span><span>&#160;can store custom sets of commands on
      it. Those commands can:</span>
    <ul class="c18 lst-kix_ajhaw4j5v1t4-1 start">
      <li class="c21 c13"><span>be made available to the puppeteer,</span></li>

      <li class="c13 c21"><span>be made available to anyone in the same location as the</span> <span class=
      "code">Object</span><span>, and</span></li>

      <li class="c21 c13"><span>be made available to anyone &#8220;inside&#8221; the</span> <span class=
      "code">Object</span></li>
    </ul>
    </li>
      <li class="c10"><span>Also</span> <span class="code">Players</span><span>&#160;can store commands on
      themselves.</span><span class="code">&#160;Player</span><span>&#160;</span><span>commands are always available
      unless commands on a puppeted</span> <span class="code">Object</span><span>&#160;explicitly override
      them.</span></li>
    </ul>

    <p class="c13 c8"><span>In <span class="softwaretitle">Evennia</span>, using the</span> <span class="code">@ic</span><span>&#160;command will allow you
    to puppet a given object (assuming you have puppet-access to do so). As mentioned above, the bog-standard</span>
    <span class="code">Character</span><span>&#160;class is in fact like any</span> <span class="code">Object</span><span>:
    it is auto-puppeted when logging in and just has a</span> <span class="c15">command set</span> <span>on it
    containing the normal in-game commands, like</span> <span class="command">look</span><span>,</span> <span class=
    "command">inventory</span><span>,</span> <span class="command">get</span> <span>and so on.</span></p>

    <p class="code">&gt; @ic mech</p>

    <p class="c13 c8"><span>You just jumped out of your</span> <span class=
    "code">Character</span><span>&#160;and</span><span>&#160;are n</span><span>ow the mech! If people look at you
    in-game, they will look at a mech. The problem at this point is that the mech</span> <span class=
    "code">Object</span><span>&#160;has no commands of its own. The usual things like</span> <span class=
    "command">look,</span><span>&#160;</span><span class="command">inventory</span> <span>and</span> <span class=
    "command">get</span><span>&#160;sat on the</span> <span class="code">Character</span><span>&#160;object, remember? So
    at the moment the mech is not quite as cool as it could be.</span></p>

    <p class="code">&gt; @ic &lt;Your old Character&gt;</p>

    <p class="c13 c8"><span>You just jumped back to puppeting your normal, mundane</span> <span class=
    "code">Character</span><span>&#160;again. All is well.</span></p>

    <p class="c13 c8"><span>(But, you ask, where did</span> <span class=
    "c15">that</span><span>&#160;</span><span class="command">@ic</span><span>&#160;command come from, if the mech had no
    commands on it? The answer is that it came from the</span> <span class="code">Player</span><span>&#8217;s command
    set. This is important. Without the</span> <span class="code">Player</span><span>&#160;being the one with the</span>
    <span class="command">@ic</span><span>&#160;command, we would not have been able to get back out of our mech
    again.)</span></p>

    <h3>Arming the mech</h3>

    <p class="c13 c8"><span>Let us make the mech a little more interesting. In our favorite text editor, we will create
    some new mech-suitable commands. In <span class="softwaretitle">Evennia</span>, commands are defined as Python</span> <span class=
    "c15">classes</span><span>.</span></p>

<pre class="code">
from ev import Command

class CmdShoot(Command):
    """
    Firing the mech&#8217;s gun
    
    Usage:
      shoot [target]

    This will fire your mech&#8217;s main gun. If no
    target is given, you will shoot in the air.
    """
    key = &quot;shoot&quot;
    aliases = [&quot;fire&quot;, &quot;fire!&quot;]

    def func(self):
        "This actually does the shooting"

        caller = self.caller
        location = caller.location

        if not self.args:
            # no argument given to command - shoot in the air
            message = &#8220;BOOM! The mech fires its gun in the air!&#8221;
            location.msg_contents(message)
            return

        # we have an argument, search for target
        target = caller.search(self.args)
        if target:
            targetname = target.key
            message = &quot;BOOM! The mech fires its gun at %s&quot;
            location.msg_contents(message % targetname)
</pre>

    <p class="c13 c8"><span>This is saved as a normal Python module (let&#8217;s call it</span> <span class=
    "code">mechcommands.py</span><span>), in a place <span class="softwaretitle">Evennia</span> looks for such modules. This command will trigger when
    the</span> <span class="code">Player</span><span>&#160;gives the command &#8220;shoot&#8221;, &#8220;fire,&#8221; or
    even &#8220;fire!&#8221; with an exclamation mark. The mech can shoot in the air or at a target if you give one. In
    a real game the gun would probably be given a chance to hit and give damage to the target, but this is enough for
    now. We also make a second command for launching missiles (</span><span class="code">CmdLaunch</span><span>). To save
    space we won&#8217;t describe it here; it looks very similar.</span></p>

    <p class="c13 c4"></p>

    <p class="c13 c8"><span>Now we shove our commands into a</span> <span class="c15">command
    set</span><span>&#160;(</span><span class="command">cmdset</span><span>). This is a container holding any number of
    commands. The command set is what we will store on the mech.</span></p>

<pre class="code">
from ev import CmdSet
from ev import default_cmds

class MechCmdSet(CmdSet):
    """
    This allows mechs to do do mech stuff.
    """
    key = &quot;mechcmdset&quot;

    def at_cmdset_creation(self):
        &quot;Called once, when cmdset is first created&quot;
        self.add(default_cmds.CharacterCmdSet)
        self.add(CmdShoot())
        self.add(CmdLaunch())
</pre>

    <p class="c7"><span>This simply groups all the commands we want. We even include the full contents of the
    default</span> <span class="code">CharacterCmdSet</span><span>&#160;in there. This will make a</span> <span class=
    "code">Character</span><span>&#8217;s normal commands available to the mech.</span></p>

    <p class="c3 c4"></p>

    <p class="c3 c8"><span>Let&#8217;s head back into the game. For testing we will attach our new</span> <span class=
    "command">cmdset</span><span>&#160;to the mech.</span></p>

    <p class="c3 c4"></p>

    <p class="c1"><span class="command">&gt; @py
    self.search(&quot;mech&quot;).cmdset.add(&quot;mechcommands.MechCmdSet&quot;)</span></p>

    <p class="c3 c4"></p>

    <p class="c7"><span>This is a little Python snippet (run from the command line as an admin) that searches for the
    mech in our current location and attaches our new</span> <span class="code">MechCmdSet</span><span>&#160;to it. What
    we add is actually the</span> <span class="c15">Python path</span><span>&#160;to our cmdset class. <span class="softwaretitle">Evennia</span> will
    import and initialize it behind the scenes.</span></p>

    <p class="c3 c4"></p>

    <p class="command">&gt; @ic mech</p>

    <p class="c3 c8"><span>We are back as the mech! Let&#8217;s do some shooting!</span></p>

    <p class="code">&gt; fire!</p>

    <p class="c1"><span class="c2">BOOM! The mech fires its gun in the air!</span></p>

    <p class="c7"><span>There we go, one functioning mech. We can not only walk around as the mech</span> <span class=
    "c24">&#8212;</span><span>&#160;since the</span> <span class="code">CharacterCmdSet</span><span>&#160;is included in
    our</span> <span class="code">MechCmdSet</span><span>, the mech can also do everything a</span> <span class=
    "code">Character</span><span>&#160;could do, like look around, pick up stuff, and have an inventory. We could now
    shoot the gun at a target or try the missile launch command. Once you have your own mech, what else do you
    need?</span></p>

    <h3>Making a mech production line</h3>

    <p class="c7"><span>What we&#8217;ve done so far is just to make a normal</span> <span class=
    "code">Object,</span><span>&#160;describe it and put some commands on it. This is great for testing. The way we added
    it, the</span> <span class="code">MechCmdSet</span><span>&#160;will even go away if we reload the server. Now we want
    to make the mech an actual object &#8220;type&#8221; so we can create mechs without those extra steps. For this we
    need to create a new</span> <span class="code">Typeclass</span><span class="c15">.</span></p>

    <p class="c12 c4"></p>

    <p class="c7"><span>A</span> <span class="code">Typeclass</span><span>&#160;is a near-normal Python class that stores
    its existence to the database behind the scenes. (For now, this is all you need to know about</span> <span class=
    "code">Typeclasses</span><span>. They are extensively detailed in</span> <span class="c16"><a class="c20" href=
    "https://github.com/evennia/evennia/wiki">Evennia&#8217;s manual</a></span><span>&#160;if you want more
    details.)</span></p>

    <p class="c12 c4"></p>

    <p class="c7"><span>A</span> <span class="code">Typeclass</span><span>&#160;is created in a normal Python source
    file. This is our new file</span> <span class="code">mechobject.py</span><span>:</span></p>

<pre class="code">
from ev import Object
from mechcommands import MechCmdSet

class Mech(Object):
    """
    This typeclass describes an armed Mech.
    """
    def at_object_creation(self):
        &quot;This is called only when object is first created&quot;
        self.cmdset.add_default(MechCmdSet)
        self.locks.add(&quot;puppet:all()&quot;)
        self.db.desc = &quot;This is a huge mech. It has missiles and stuff.&quot;
</pre>

    <p class="c3 c8"><span>That&#8217;s it. When</span> <span class="code">Objects</span><span>&#160;of this type are
    created, they will always start out with the mech&#8217;s command set and the correct lock. We set a default
    description, but you would probably change this with</span> <span class="command">@desc</span><span>&#160;to
    individualize your mechs as you build them.</span></p>

    <p class="c3 c8"><span>Back in the game, just exit the old mech (</span><span class="command">@ic</span><span>&#160;back
    to your old character) then do</span></p>

    <p class="c1"><span class="command">&gt; @create/drop The Bigger Mech ; bigmech : mechobject.Mech</span></p>

    <p class="c3 c8"><span>We create a new, bigger mech with an alias</span> <span class="c15">bigmech.</span>
    <span>Note how we give the python-path to our</span> <span class="code">Typeclass</span><span>&#160;at the end</span>
    <span class="c24">&#8212;</span><span>&#160;this tells <span class="softwaretitle">Evennia</span> to create the new object based on that class. A
    shining new mech will appear in the room! Just use</span></p>

    <p class="c1"><span class="command">&gt; @ic bigmech</span></p>

    <p class="c3"><span>to take it on a test drive.</span></p>

    <h3>Future mechs</h3>

    <p class="c3 c4"></p>

    <p class="c3 c8"><span>To expand on this you could add more commands to the mech and remove others. Maybe the mech
    shouldn&#8217;t work just like a</span> <span class="code">Character</span><span>&#160;after all. Maybe it makes loud
    noises every time it passes from room to room. Maybe it cannot pick up things without crushing them. Maybe it needs
    fuel, ammo and repairs. Maybe you&#8217;ll lock it down so it can only be puppeted by emo teenagers.</span></p>

    <p class="c3 c4"></p>

    <p class="c3 c8">Having you puppet the mech-object directly is also just one way to implement a giant mech in
    <span class="softwaretitle">Evennia</span>.</p>

    <p class="c3 c8"><span>For example, you could instead picture a mech as a &#8220;vehicle&#8221; that you
    &#8220;enter&#8221; as your normal &#160;</span><span class="code">Character</span><span>&#160;(since any</span>
    <span class="code">Object</span><span>&#160;can move inside another). In that case the &#8220;insides&#8221; of the
    mech</span> <span class="code">Object</span><span>&#160;could be the &#8220;cockpit&#8221;. The cockpit would have
    the</span> <span class="code">MechCommandSet</span><span>&#160;stored on itself and all the shooting goodness would
    be made available to you only when you enter it.</span></p>

    <p class="c3 c8"><span>And of course you could put more guns on it. And make it fly.</span></p>
{% endblock %}
{% block article_bio_content %}
	Griatch is the lead developer of <a class="softwaretitle" href="http://www.evennia.com/">Evennia</a>.
{% endblock %}
