{% extends "issue/article/index.html" %}
{% block page_title %}
	Getting a roleplaying scene going
{% endblock %}
{% block article_authors %}<span class="author-nick">Griatch</span>{% endblock %}
{% block article_date %}12th September 2013{% endblock %}
{% block article_content %}
  <div class="inline-blocks">
  <aside>
   <h4>Glossary of Terms</h4>
   <dl>
    <dt>Character concept</dt>
    <dd>
     The general idea behind your player character (PC), like “the scarred veteran”, “the grumpy old magician” or “the swashbuckling bounty-hunter”.
    </dd>
    <dt>IC/OOC</dt>
    <dd>
     In Character/Out Of Character.
    </dd>
    <dt>Emote/pose</dd>
    <dd>
     This is a common way to roleplay in MUDs. An emote or pose command displays a free-form action to everyone in the room, such as “The tall man sighs heavily”. Some MUDs offer a variety of special commands for particular actions or special syntax to decorate poses. Some games use specific “say” commands for verbal communication, while others make speech part of emoting/posing.
    </dd>
    <dt>Action/static pose</dt>
    <dd>
     A pose that “lingers”, such as “The tall man is sitting by the bar”. Commonly, static poses remain assigned to your character’s description until you change it or exit the room, meaning that new people entering will immediately see your current status.
    </dd>
    <dt>NPC</dt>
    <dd>
     Non-Player Character. Also known as a “mob”. An in-game character that is controlled by the computer, such as a bartender or a city guard.
    </dd>
    <dt>vNPC</dt>
    <dd>
     A “virtual” NPC. This NPC does not actually exist in code, but their existence is implied by the setting. Even though there are only fully modeled objects representing two player characters and a city guard in the central plaza, narratively we understand that that place is packed with people most of the day. Most RP MUDs ask players to imagine vNPCs being all around them and have it influence their roleplay.
    </dd>
    <dt>Godmoding</dt>
    <dd>
     The act of including another player’s character in your roleplay in a way that takes control away from them unfairly — interacting with other player characters in “god mode”. (Also commonly written as “godmodding”.) This is considered very bad form. Depending on the game, disagreements on how to resolve a situation may be down to skill checks, die rolls or calling in a staff arbiter.
    </dd>
   </dl>
  </aside>
  <p class="disclaimer">
    Disclaimer: This article is intended for players interested in roleplaying and who consider “getting good RP” a worthy goal. If this isn’t you, it really is fine to go beat up some orcs instead of reading this article. Also, I primarily have experience with roleplay-oriented MUDs; in other forms of roleplay-focused MU*, the way roleplay is arranged and the tropes at work are likely different.
  </p>
  <p>
    In roleplay-oriented MUDs, the concept of <em>scenes</em> becomes important. A scene is simply a situation, big or small, that involves you and your fellow players in interesting roleplay. A scene can be as simple as two players meeting in the street and exchanging a few words or as high-stakes as the dramatic conclusion to a staff-driven quest. Whenever roleplay-interested players meet, a scene may happen.
  </p>
  <p>
    However, sometimes scenes won’t come naturally. Sometimes your favourite game has only a few people online, or most players are hovering in private areas. Then it’s time to take the initiative. Below I offer some archetypes, tropes and ideas for how to get a scene started and people interested. The list is based on one I wrote for an RP MUD I play.
  </p>
  <h3>Scene starters</h3>
  <p>
    Scene starters are for when you are alone in a room hoping for others to join you — we've all done it. It is considerably easier to run scene starters if there is some OOC way for other players to know where to find you, such as a list showing the location of those setting an “I’m available for RP” flag. If not, it’s best to prepare your starter in a commonly visited central location or hub. You normally trigger the starter whenever a player character enters.
  </p>
  <p>
    The Scene starters below are intended as ideas and suggestions, but are also examples of archetypal behaviour I’ve observed myself.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image02.jpg" width="200"/>
  <h5>The Barfly</h5>
  <p>
    A roleplaying MUD classic since time immemorial. <em>The barfly</em> is alone in a tavern and tends a drink, waiting for things to happen. A passive role, but trivial to set up and easy for other players to jump in on — they just slide up to the bar and ask what's up. Fun variations include the <em>drunk barfly</em> and the <em>really, really sad/happy barfly</em>, states which immediately give other players things to ask about and work with.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image10.jpg" width="200"/>
  <h5>The Strider</h5>
  <p>
    This is the "dark stranger in the corner" variation of <em>the barfly</em>. It is simple to execute — just sit in a dark tavern corner looking glum and mysterious. Often used by newbie players unsure of the game’s commands. The problem is that unless they know <em>the strider</em> from before, it's hard for other characters to include him/her in their roleplay in a realistic way. The whole IC point of this trope is, after all, to avoid attention.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image13.jpg" width="200"/>
  <h5>The Busybody</h5>
  <p>
   <em>The busybody</em> is keeping busy in this room. Most commonly they are performing their job. If they own a bar or run the shop, they tend it. If they are guardsmen, they are standing on patrol. If they are jesters, they are making fools of themselves. You see the pattern. This is a great starter since it is natural, realistic and in-character all at once. The nature of <em>the busybody’s</em> work may occasionally make it easier or harder for other characters come up with reasons to interact with them, though — it might be harder to invent motivations for some characters to strike up a conversation with a guardsman than for interacting with a street vendor.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image08.jpg" width="200"/>
  <h5>The Demagogue</h5>
  <p>
    This more-involved starter involves striking up a loud conversation with an NPC or vNPC. Whenever another player character enters, <em>the demagogue</em> begins a small scene where they are "arguing" with the NPC, playing both roles. The argument could be "continuing" or just starting as the new PC enters. It could be about anything from tavern prices to refuting a made-up insult. The advantage of this is that it provides immediate characterization for <em>the demagogue</em> and the NPC both. It also makes it easy for the newcomer to get into the scene just by taking a side in the debate.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image17.jpg" width="200"/>
  <h5>The Mayday</h5>
  <p>
    This starter sets up a character as needing help from whoever enters the room next. <em>The mayday</em> involves describing the initiating character in a sort of precarious situation that clearly requires an extra hand to resolve. This could be anything: having their hands full and nearly dropping stuff, chasing a dog that is running off with their book, being accosted by vNPC ruffians (who should vacate the area quickly, unless roleplaying completely “virtual” combat is your cup of tea). Either way, the newcomer has an ongoing scene to react to, and roleplay immediately ensues.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image12.jpg" width="200"/>
  <h5>The Organizer</h5>
  <p>
    This starter requires that the MUD have a developed in-game message or mailing system. If so, use it to explicitly and in character invite people to a scene! If <em>the organizer</em> is in a position of in-game power, this could make good IC sense — as with the lord calling on their vassals to attend a function. Anything from calling in a favor to suggesting a business opportunity or looking for a job works, though. Throw a party. Get drunk and send an ill-advised love letter. This starter works exceptionally well in combination with <em>the stage director</em> or <em>the aggravator</em> for getting selected player characters into a memorable scene.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image16.jpg" width="200"/>
  <h5>The Aggravator</h5>
  <p>
    <em>The aggravator</em> starts off on the wrong foot with people. Maybe they lash out due to some perceived injustice or they are just grumpy. This starter does not fit all character concepts. <em>The aggravator</em> should accuse the newly arrived PC of something. It could be something from their common history or something made up out of the blue. It is an active starter in that it leads the way and forces other PCs into roleplay — in self-defense if nothing else. A simple example is to chide the newly arrived PC for not stopping the vNPC that just ran past them out the door. It's important not to take <em>the aggravator</em> trope too far, especially not when using vNPCs. The idea is to get a scene started with some tension, not to get the other (possibly random) PC into real trouble. No godmoding, remember. If the two characters are <em>actual</em> enemies though, it may be another matter...
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image01.jpg" width="200"/>
  <h5>The Stage Director</h5>
  <p>
    This is a more sophisticated starter that’s halfway to improvised theater. It sets up a whole little scene involving some event with a number of semi-named vNPCs. <em>The stage director</em> could be directly involved or be a spectator (in which case other PCs can walk up to them and ask what's going on). The event could be anything from a bar brawl to a domestic dispute in progress to a marriage proposal between two vNPCs in the middle of the street! If the <em>stage director</em> is threatened in some way, this is a large-scale version of <em>the mayday</em>.
  </p>
  <p>
    The nice thing about staged scenes like this is that it gives depth and personality to the game and is often highly appreciated by other players. If done well, <em>the stage director</em> can give everyone involved a true feeling of being in a living environment.
  </p>
  <p>
    The scene could continue to be played out around the PCs as they interact, making this starter potentially demanding for the <em>stage director</em>. If the other players are experienced, they should pick up on this and even contribute their own vNPCs to the scenario (or the <em>stage director</em> could actively invite other players to do so). It's important to remember to avoid godmoding here — never dictate another PC’s actions. Let other players react as they see fit.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image06.jpg" width="200"/>
  <h5>The Lazy Bum</h5>
  <p>
    This is, unfortunately, the most common of starters and we've probably all done it one time or another. It does not involve anything but simply standing in a room. No action set, no nothing. Just being there, the player character staring blankly into space until something happens. Yeah.
  </p>
  <h3 class="clear">Scene entrances</h3>
  <p>
    Here are some ideas on how to enter a scene/room with one or more other PCs already involved in roleplay. It should be noted that if other players already have a scene going they might be OOC annoyed if the newcomer muscles in with some scene-changing entrance. So you, as a player, are wise to show consideration here. Check the situation and eventual actions set on people in the room. If a great scene is already in progress you shouldn’t need to start your own — instead, try to get in on the action!
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image09.jpg" width="200"/>
  <h5>The Mouse</h5>
  <p>
    The most common of entering schemes, <em>the mouse</em> walks into the area not drawing attention to themselves. This is a simple, passive setup that fits many situations and character concepts. <em>The mouse</em> is a useful way to enter an already-running scene. It is a bit overused, though, possibly being <em>the lazy bum</em> of entrances. It seem to imply that it is up to others to notice and respond to <em>the mouse</em>. If truly aiming for anonymity, <em>the mouse</em> should emote explicitly that they are not drawing attention to themselves, making it clear to other characters that they need not go out of their way to be courteous and notice the newcomer.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image04.jpg" width="200"/>
  <h5>The Ignoranti</h5>
  <p>
    <em>The ignoranti</em> acts as if they do not notice the other characters in the room. This entrance variant is useful for crowded or large locations. It is also realistic; just because the “chock-full” tavern has only two PCs in it, it doesn’t mean you would actually immediately notice them — vNPCs are everywhere. <em>The ignoranti</em> must emote their ignorance explicitly, with something like <em>"The newcomer does not notice the others yet"</em>. This entrance makes for a nice variation by allowing <em>the ignoranti</em> and other PCs to "accidentally" bump into each other later in a natural way.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image00.jpg" width="200"/>
  <h5>The Walker</h5>
  <p>
    <em>The walker</em> is just "passing through" this area. This entrance is useful for outdoor areas or minor streets were many character concepts probably have no real reason to be hanging about more than necessary. <em>The walker</em> is really heading somewhere else and just happens to stop to chat with people in this room. It's an effective entrance that allows for quick, logical exits as well: they just have to “be on their way”. This is far better than the common approach of standing in a street room greeting people as if all you do is loiter in the street all day.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image14.jpg" width="200"/>
  <h5>The Planned Visitor</h5>
  <p>
    This is a variation on <em>the busybody</em> and the opposite of <em>the walker</em>. <em>The planned visitor</em> needs to come to this room, and not in order to chat with random PCs. The <em>visitor</em> will start to perform whatever they are here to do — interaction with others is a mere side effect. The classic takes on this trope are to read message boards or to order food and drink. More imaginative ones could be to ask the NPC barkeep for a job, look for a vNPC (who turns out to not be there), repair something, do some sort of inspection, or set up for an artistic performance. If done well, others will have plenty of opportunity to ask the <em>planned visitor</em> what they are up to. It also provides an in-character way to exit the scene once you declare your business there done.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image15.jpg" width="200"/>
  <h5>The Wet Kitten</h5>
  <p>
    A classic that involves entering a scene drenched to the bone, shivering from cold, gasping from heat or otherwise being dramatically and visibly affected by whatever weather or situation reigns outside. <em>The wet kitten</em> is common to taverns everywhere. For some reason this entrance rarely instills as much sympathy as one would think, but at the least it opens up opportunities for other characters to comment on the weather. Taken to an extreme, this becomes a variation on <em>the mayday</em>.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image05.jpg" width="200"/>
  <h5>The Third Wheel</h5>
  <p>
    This is an active, provocative entrance and a variant on <em>the aggravator</em>. It should directly interrupt and involve other PCs in the room entered. The trivial, confrontational way to do this is for the intruder to muscle or elbow past other PCs in a rude way, maybe even attempting to give them a rough shove (remember to avoid godmoding). This is sure to start off a scene! The more common approach is to walk up to a group of conversing PCs and simply jump into their conversation mid-sentence. How this is received depends on the situation and characters involved. In both cases it's important to make it clear that your actions are a conscious RP choice — it’s your character who is inconsiderate, not the player behind it. In other words, emote something like <em>“The newcomer does not seem to notice or care about intruding on the conversation...”</em>
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image11.jpg" width="200"/>
  <h5>The Dramatist</h5>
  <p>
    This is an on-the-fly version of <em>the stage director</em> or <em>the demagogue</em>. Only use <em>the dramatist</em> if it's clear the currently ongoing scene allows for it — it’s often a good idea to follow a few emotes in the room before setting this one off. Just like <em>the stage director</em>, it starts some sort of background action in the room, based on vNPCs. For example, this might be a brawl, an argument, or a happy announcement. Maybe a vNPC starts hitting on a PC, or, like <em>the demagogue</em>, <em>the dramatist</em> might get involved in a discussion with an NPC/vNPC. Bartender NPCs are classic useful targets for this. <em>The dramatist</em> must be perceptive and considerate so as to avoid taking over an already-running scene. Some PCs might forcibly choose to ignore the events going on in order to focus on their ongoing RP, so don't shove it down their throats (no godmoding!).
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image03.jpg" width="200"/>
  <h5>The Non-sequitur</h5>
  <p>
    This strangely rare entrance involves running into a crowded room, shouting "Monkeeey!" and then running out again. This one will, at the least, lead to roleplay for the confused people in the room you just visited. Don't do this unless you have a very specific and suitable character concept, kids.
  </p>
  <img style="margin-left: 15px" xheight="200" src="images/image07.jpg" width="200"/>
  <h5>The Newbie</h5>
  <p>
    The classic <em>newbie</em> entrance involves walking into a room and saying "Hello" to no one in particular. Bonus points if this is done while ignoring the fact that the room's on fire and the PCs within are all involved in mortal combat. Luckily, this entrance trope screams <em>newbie</em> so clearly that players may be urged to pity and lenience. It may, in fact, be the trigger for getting a more experienced player to take <em>the newbie</em> in hand and explain a thing or two.
  </p>
  </div>
{% endblock %}
{% block article_bio_content %}
	Griatch is the current lead developer of <a class="gametitle" href="http://evennia.com/">Evennia</a>.
{% endblock %}
