{% extends "issue/article/index.html" %}
{% block page_title %}
	A Journey Through Paradice, Part II
{% endblock %}
{% block article_authors %}Matthew Chaplain{% endblock %}
{% block article_date %}11th January 2014{% endblock %}
{% block article_content %}
  <p><span>In the</span> <span>first</span> <span class="c10"><a class="c6" href=
  "http://journal.imaginary-realities.com/volume-05/issue-01/journey-through-paradice/index.html">article</a></span><span>&#160;of
  this series</span><span>, I described a series of events that led to the creation of a character-based GUI-style
  output, using a larger-than-usual set of the ANSI escape codes.</span></p>

  <div class="imgcenter">
   <img class="center" src="images/image01.png" width="624"/>
  </div>
  <div class="imgcaption" style="max-width: 602px; margin-left: auto; margin-right: auto">
    Paradice 9 Login Screen
  </div>
  
  <p><span>Continuing with the theme, this article will discuss the advantages of this output style, and the
  design and protocols that</span> <span class="c10"><a class="softwaretitle" href=
  "https://code.google.com/p/paradice9/">Paradice</a></span><span>&#160;(a codebase for writing Telnet-based
  applications with which the Paradice 9 server is built) uses to achieve it.</span></p>

  <p><span>As mentioned in the original article,</span> <span class="c10"><a class="c6" href=
  "http://www.ietf.org/rfc/rfc857.txt">character-at-a-time mode</a></span><span>&#160;is engaged by enabling</span>
  <span class="code">WILL ECHO</span><span>&#160;and</span> <span class="code">WILL SUPPRESS_GO_AHEAD</span><span>&#160;via
  the Telnet protocol. Before explaining the design of Paradice&#39;s user interface, a recap of some of the concrete
  problems solved by this output style:</span></p>

  <div class="imgcenter">
   <img class="center" src="images/image00.png" width="624"/>
  </div>
  <div class="imgcaption" style="max-width: 602px; margin-left: auto; margin-right: auto">
    Stock Envy MUD
  </div>

  <ul class="c1 lst-kix_d0sm8pxgvkdb-0 start">
    <li class="c2 c11">Interrupted commands<br/>
    <br/>
    The very first complaint I received on my initial implementation of Paradice 9 was that, if a player was typing a
    command, and something on the MUD occurred that caused output to be sent to that player, it would appear in the
    middle of the command being written. When you have control over the output, this issue vanishes.<br/>
    <br/>
    This very issue has probably inspired more MUD clients than any other.<br/><br/></li>
    <li class="c2 c11"><span>Prompt spamming<br/>
    <br/>
    On a DIKU-derived MUD I once played, a new prompt, typically containing data about the characters such as health
    and magic points, would be sent every time anything happened to the character. Very helpful, especially in combat
    situations.<br/>
    <br/>
    However, a character would have to go to &#8220;sleep&#8221; in order to regenerate health. A lot less input is
    displayed in this state, and this meant that characters would frequently oversleep</span> <span class=
    "c0">&#8212;</span><span>&#160;they did not know when their character was fully rested. Eventually, a change came
    that caused a new prompt to be displayed when a sleeping character reached maximum health, but that was of no use
    to those who only wanted to be &#8220;healthy-enough&#8221; (say, 75% health), or wanted maximum magic points. For
    those people, the de facto solution was to tap the enter key every few seconds, filling the screen with new
    prompts.<br/>
    <br/>
    This kind of prompt spamming is terrible from a user interface perspective. And why, in this day and age, do we
    accept the status quo of having several prompts on the screen at once, most having out-of-date
    information?<br/><br/></span></li>
    <li class="c2 c11"><span>Disorganized, linear output<br/>
    <br/>
    You&#8217;re in a heated battle, and information is spewed past you at an enormous rate. Someone sends you a
    message. The battle continues, and the only way you can retrieve that message is to look carefully through the
    client&#8217;s scroll-back to see if you can find it. If you&#8217;re lucky, it will be colour-coded.<br/>
    <br/>
    With a better interface control, several solutions present themselves. For example, having separate windows, or
    even a tabbed display where the combat text and social text are segregated.<br/><br/></span></li>
    <li class="c2 c11"><span>Mis-aimed replies<br>
    <br>
    I think everyone must have done this. You&#8217;re having a conversation with a friend, and type</span>
    <span class="command">r Yeah, Biffo, you&#8217;re right. Bubba *is* a bit of a butthead</span><span>. &#160;In this
    command,</span> <span class="command">r</span><span>&#160;is a shorthand for</span> <span class="command">reply</span><span>,
    which causes a whisper or tell to be sent to the last person who sent you a message.<br>
    <br>
    Just as you&#8217;re hitting enter, Bubba sends you a message. The reply is sent to Bubba instead. Hilarity
    ensues.<br>
    <br>
    This problem is impossible to solve from the server side with line-mode, because the server does not receive the
    information that you plan to reply until the command is being sent. Thus, the target of the reply is bound at the
    time the command is complete, and not at the type you type the first</span> <span class="command">r</span><span>.<br>
    <br>
    In a character-based exchange, a note (e.g. &#8220;Replying to: Biffo&#8221;) could be made somewhere at the time
    that you first tap</span> <span class="command">r</span><span>, or the server could just wholesale replace</span>
    <span class="command">r</span><span>&#160;with &#8220;tell biffo&#8221; on the command line. Either way, this means that
    the reply target can be locked in place from the moment</span> <span class="command">r</span><span>&#160;is pressed and
    for the duration of the reply.</span></li>
  </ul>

  <p><span>As you can see, there are many benefits to this style of display. There are also disadvantages,
  of course, and the most immediate of those is complexity. It is many times more complex to produce a GUI display
  than</span> <span class="code">send_to_char(ch, stuff_that_just_happened);</span><span>.</span> <span>Nevertheless, it
  can give a very satisfying result.</span></p>

  <p><span>The fundamental design of the user interface renderer in Paradice 9 is based around one guiding
  question: given the current state of the screen and a desired state that we would like to put the screen in, what is
  the smallest amount of data (using the ANSI protocol) that describes the change between the two states? The answer to
  this question is the sequence of characters that is sent to the client so that it can render the output
  required.</span></p>

  <p><span>Before working on the exact algorithm, it is necessary to explain what a screen looks like to the
  program. In Paradice, a screen is represented by a grid of elements. The grid is initially 80x24, since that is the
  default screen size of nearly every terminal emulator ever, and is the assumed width and page size of many MUDs, but
  it can be negotiated by using Telnet</span> <span class="c10"><a class="c6" href=
  "http://www.ietf.org/rfc/rfc1073.txt">NAWS</a></span><span>. The grid is 1-based, and extends in the positive
  direction downwards, meaning the very top left character is at position [1,1].</span></p>

  <p><span>Each element is a two-part structure comprising a glyph and an attribute. The glyph part contains
  information about the character to be drawn, including character set, locale, and actual character to write. The
  attribute part describes how to draw the glyph: foreground and background colours, intensity (bolding), underlining,
  and so on.</span></p>

  <p><span>Between the screen abstraction and the element abstraction there are a number of components that
  describe widgets on the screen</span> <span class="c0">&#8212;</span><span>&#160;text areas, ASCII art
  &quot;images&quot; and the like. Precipitated by in-game events such as another player saying something or sending a
  message, or input events such as cursor keys or mouse clicks, the components update their internal states and request
  that they be redrawn. These redraw requests also contain information about the &quot;regions&quot; (rectangular
  areas) that need to be redrawn. These requests are not processed immediately; they are collected and coalesced by the
  screen abstraction for when the next redraw cycle occurs. The exact nature of the redraw cycle scheduler is not
  important here, but it is important to have this occur frequently enough for the user interface to feel
  responsive.</span></p>

  <p><span>During the redraw cycle, a clone of the current state of the screen is created and the screen is
  asked to draw itself onto the clone in the regions requested. The difference between the two screen states is now
  known, but there remains one more step before generating protocol data: it&#39;s possible that some of the data in
  the redraw regions has not actually changed. Since, except for certain niche cases, it&#39;s unlikely that we want to
  generate protocol data to draw out exactly what is already on the screen, the redraw regions need to be trimmed down
  to only those parts of the screen that actually differ between the current state and the clone.</span></p>

  <p><span>The result of this operation yields a series of non-overlapping rectangles, each with non-zero
  width and a height of 1, which describe the areas that require protocol data to be sent. Paradice refers to these as
  &quot;slices&quot;.</span></p>

  <p><span>With this information now known, the algorithm to generate protocol data goes something like
  this, with references to the necessary</span><span>&#160;</span><span class="c10"><a class="c6" href=
  "http://invisible-island.net/xterm/ctlseqs/ctlseqs.html">terminal</a></span><span class="c10"><a class="c6" href=
  "http://invisible-island.net/xterm/ctlseqs/ctlseqs.html">&#160;commands</a></span><span>&#160;embedded
  therein:</span></p>

<ol start="1" type="1">
  <li class="c2 c11"><span>If the cursor was enabled, disable the cursor (</span><span class=
  "code">DECTRST/DECTCEM</span><span>). This prevents the visual effect of the cursor position flickering around the
  screen as parts are redrawn.</span></li>
  <li class="c7"><span>For each slice,</span>
    <ol start="1" type="a">
      <li class="c2 c14"><span>Move the cursor to the left-most coordinate of the slice (</span><span class=
      "code">CUP</span><span>).</span></li>
      <li class="c2 c14"><span>If this is also on a new line, generate protocol for setting the character attributes to
      default and set the &quot;current&quot; character attributes to the default (</span><span class=
      "code">SGR</span><span>).</span></li>
      <li class="c2 c14"><span>For each element in the slice,</span>
        <ol type="i">
          <li class="c2 c12"><span>Generate protocol for setting the current character attributes to the current
          element&#39;s attributes, and store this new set in the current character attributes (</span><span class=
          "code">SGR</span><span>).</span></li>
          <li class="c2 c12"><span>Write the current element&#39;s character.</span></li>
        </ol>
      </li>
    </ol>
  </li>
  <li class="c2 c11"><span>If the cursor was enabled, move to the current cursor position and enable the cursor
  (</span><span class="code">DECTSET/DECTCEM</span><span>).</span></li>
</ol>

  <p><span>It&#39;s worth noting that there is a lot of room for optimization here, both in code speed and
  protocol output. For example, point 2a may involve a</span> <span class="code">CUP</span><span>&#160;(Cursor Position)
  command, or a</span> <span class="code">CUF</span> <span>(Cursor Forward) command, or may be just as simple as writing
  over a couple of existing characters, if their attributes happen to match the current attribute set. Possible
  optimizations for getting the cursor from one position to another could also be generated speculatively, with all but
  the shortest exchange being discarded.</span></p>

  <p><span>Also of interest is point 2ci. At the time of writing, all attribute exchanges in Paradice assume
  that the attribute set starts at default, which overcomes an unexplored incompatibility with <span="softwaretitle">TeraTerm</span>.</span></p>

  <p><span>By following this layout, it is possible to generate some high quality textual output for a MUD.
  There remain many areas for improvement. For example, negotiating for and adding the capability for outputting
  Unicode characters would greatly add to the output possibilities. The story does not end here, however. The Paradice
  codebase also supports and recognises an extended set of input methods, including control keys such as</span>
  <span class="c3">PgUp/PgDn</span><span>&#160;and the numeric keypad, a limited set of function keys, and mouse
  clicks. These subjects will be the topic of a future article.</span></p>
{% endblock %}
{% block article_bio_content %}
	Matthew Chaplain, known in the mudding community as Kastagaar or Kaz, is a professional C++ software developer who tinkers on the <a class="softwaretitle" href=
  "https://code.google.com/p/paradice9/">Paradice</a> codebase in his spare time. Comments, criticism, and code submissions are all welcome.
{% endblock %}
